conf/wsdlRepository/FlashScanner.wsdl

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://malware.helios.adtech.de/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="FlashScannerService" targetNamespace="http://malware.helios.adtech.de/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://malware.helios.adtech.de/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://malware.helios.adtech.de/">
<xs:element name="scanFlashFile" type="tns:scanFlashFile"></xs:element>
<xs:element name="scanFlashFileResponse" type="tns:scanFlashFileResponse"></xs:element>
<xs:complexType name="scanFlashFile">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:base64Binary"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="scanFlashFileResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:SWFInformation"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SWFInformation">
<xs:sequence>
<xs:element name="actionscriptSource" nillable="true" type="xs:string"></xs:element>
<xs:element name="compressed" nillable="true" type="xs:boolean"></xs:element>
<xs:element name="corrupt" nillable="true" type="xs:boolean"></xs:element>
<xs:element name="height" nillable="true" type="xs:long"></xs:element>
<xs:element name="malware" nillable="true" type="xs:boolean"></xs:element>
<xs:element name="usesVideo" nillable="true" type="xs:boolean"></xs:element>
<xs:element name="version" nillable="true" type="xs:long"></xs:element>
<xs:element name="width" nillable="true" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"></xs:element>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>

  </wsdl:types>
  <wsdl:message name="scanFlashFileResponse">
    <wsdl:part element="tns:scanFlashFileResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="scanFlashFile">
    <wsdl:part element="tns:scanFlashFile" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FlashScanner">
    <wsdl:operation name="scanFlashFile">
      <wsdl:input message="tns:scanFlashFile" name="scanFlashFile"></wsdl:input>
      <wsdl:output message="tns:scanFlashFileResponse" name="scanFlashFileResponse"></wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FlashScannerServiceSoapBinding" type="tns:FlashScanner">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="scanFlashFile">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="scanFlashFile">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="scanFlashFileResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlashScannerService">
    <wsdl:port binding="tns:FlashScannerServiceSoapBinding" name="FlashScannerPort">
      <soap:address location="http://ws-api.adtech.de/FlashScanner"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>