conf/wsdlRepository/WSAdLocalAdmin_v3.wsdl

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://AdLocalManagement_v3.lowLevel.helios.webservices.adtech.de/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns4="http://schemas.xmlsoap.org/soap/http" xmlns:ns3="http://CampaignManagement.helios.adtech.de/" xmlns:ns2="http://helios.adtech.de/" xmlns:ns1="http://AdLocalManagement.helios.adtech.de/" name="WSAdLocalAdmin_v3Service" targetNamespace="http://AdLocalManagement_v3.lowLevel.helios.webservices.adtech.de/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://helios.adtech.de/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://helios.adtech.de/">
<xs:complexType name="BoolExpression">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="expressions" nillable="true" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AttributeOperatorValueExpression">
<xs:complexContent>
<xs:extension base="tns:BoolExpression">
<xs:sequence>
<xs:element name="attribute" nillable="true" type="xs:string"></xs:element>
<xs:element name="operator" nillable="true" type="xs:string"></xs:element>
<xs:element name="value" nillable="true" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="Wrapper">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="value" nillable="true" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ANDExpression">
<xs:complexContent>
<xs:extension base="tns:BoolExpression">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ORExpression">
<xs:complexContent>
<xs:extension base="tns:BoolExpression">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="QueryOrderParameter">
<xs:sequence>
<xs:element name="order" nillable="true" type="xs:string"></xs:element>
<xs:element name="propertyName" nillable="true" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NOTExpression">
<xs:complexContent>
<xs:extension base="tns:BoolExpression">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="HeliosPersistenceException" type="tns:HeliosPersistenceException"></xs:element>
<xs:complexType name="HeliosPersistenceException">
<xs:sequence>
<xs:element name="errorCause" nillable="true" type="xs:int"></xs:element>
<xs:element name="errorLevel" nillable="true" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://AdLocalManagement_v3.lowLevel.helios.webservices.adtech.de/" xmlns:ns2="http://AdLocalManagement.helios.adtech.de/" xmlns:ns1="http://helios.adtech.de/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://AdLocalManagement_v3.lowLevel.helios.webservices.adtech.de/">
<xs:import namespace="http://helios.adtech.de/"></xs:import>
<xs:import namespace="http://AdLocalManagement.helios.adtech.de/"></xs:import>
<xs:element name="createAdLocalTarget" type="tns:createAdLocalTarget"></xs:element>
<xs:element name="createAdLocalTargetHistory" type="tns:createAdLocalTargetHistory"></xs:element>
<xs:element name="createAdLocalTargetHistoryResponse" type="tns:createAdLocalTargetHistoryResponse"></xs:element>
<xs:element name="createAdLocalTargetList" type="tns:createAdLocalTargetList"></xs:element>
<xs:element name="createAdLocalTargetListResponse" type="tns:createAdLocalTargetListResponse"></xs:element>
<xs:element name="createAdLocalTargetResponse" type="tns:createAdLocalTargetResponse"></xs:element>
<xs:element name="createCity" type="tns:createCity"></xs:element>
<xs:element name="createCityByArray" type="tns:createCityByArray"></xs:element>
<xs:element name="createCityByArrayResponse" type="tns:createCityByArrayResponse"></xs:element>
<xs:element name="createCityResponse" type="tns:createCityResponse"></xs:element>
<xs:element name="createContinent" type="tns:createContinent"></xs:element>
<xs:element name="createContinentResponse" type="tns:createContinentResponse"></xs:element>
<xs:element name="createCountry" type="tns:createCountry"></xs:element>
<xs:element name="createCountryResponse" type="tns:createCountryResponse"></xs:element>
<xs:element name="createCountrySubGroup" type="tns:createCountrySubGroup"></xs:element>
<xs:element name="createCountrySubGroupMember" type="tns:createCountrySubGroupMember"></xs:element>
<xs:element name="createCountrySubGroupMemberResponse" type="tns:createCountrySubGroupMemberResponse"></xs:element>
<xs:element name="createCountrySubGroupResponse" type="tns:createCountrySubGroupResponse"></xs:element>
<xs:element name="deleteAdLocalTarget" type="tns:deleteAdLocalTarget"></xs:element>
<xs:element name="deleteAdLocalTargetHistory" type="tns:deleteAdLocalTargetHistory"></xs:element>
<xs:element name="deleteAdLocalTargetHistoryResponse" type="tns:deleteAdLocalTargetHistoryResponse"></xs:element>
<xs:element name="deleteAdLocalTargetResponse" type="tns:deleteAdLocalTargetResponse"></xs:element>
<xs:element name="deleteCity" type="tns:deleteCity"></xs:element>
<xs:element name="deleteCityResponse" type="tns:deleteCityResponse"></xs:element>
<xs:element name="deleteContinent" type="tns:deleteContinent"></xs:element>
<xs:element name="deleteContinentResponse" type="tns:deleteContinentResponse"></xs:element>
<xs:element name="deleteCountry" type="tns:deleteCountry"></xs:element>
<xs:element name="deleteCountryResponse" type="tns:deleteCountryResponse"></xs:element>
<xs:element name="deleteCountrySubGroup" type="tns:deleteCountrySubGroup"></xs:element>
<xs:element name="deleteCountrySubGroupMember" type="tns:deleteCountrySubGroupMember"></xs:element>
<xs:element name="deleteCountrySubGroupMemberResponse" type="tns:deleteCountrySubGroupMemberResponse"></xs:element>
<xs:element name="deleteCountrySubGroupResponse" type="tns:deleteCountrySubGroupResponse"></xs:element>
<xs:element name="getAOVE" type="tns:getAOVE"></xs:element>
<xs:element name="getAOVEResponse" type="tns:getAOVEResponse"></xs:element>
<xs:element name="getAdLocalTargetHistoryById" type="tns:getAdLocalTargetHistoryById"></xs:element>
<xs:element name="getAdLocalTargetHistoryByIdResponse" type="tns:getAdLocalTargetHistoryByIdResponse"></xs:element>
<xs:element name="getAdLocalTargetHistoryList" type="tns:getAdLocalTargetHistoryList"></xs:element>
<xs:element name="getAdLocalTargetHistoryListResponse" type="tns:getAdLocalTargetHistoryListResponse"></xs:element>
<xs:element name="getAdLocalTargetList" type="tns:getAdLocalTargetList"></xs:element>
<xs:element name="getAdLocalTargetListByCampaignId" type="tns:getAdLocalTargetListByCampaignId"></xs:element>
<xs:element name="getAdLocalTargetListByCampaignIdResponse" type="tns:getAdLocalTargetListByCampaignIdResponse"></xs:element>
<xs:element name="getAdLocalTargetListResponse" type="tns:getAdLocalTargetListResponse"></xs:element>
<xs:element name="getCityById" type="tns:getCityById"></xs:element>
<xs:element name="getCityByIdResponse" type="tns:getCityByIdResponse"></xs:element>
<xs:element name="getCityList" type="tns:getCityList"></xs:element>
<xs:element name="getCityListResponse" type="tns:getCityListResponse"></xs:element>
<xs:element name="getCityListSize" type="tns:getCityListSize"></xs:element>
<xs:element name="getCityListSizeResponse" type="tns:getCityListSizeResponse"></xs:element>
<xs:element name="getContinentById" type="tns:getContinentById"></xs:element>
<xs:element name="getContinentByIdResponse" type="tns:getContinentByIdResponse"></xs:element>
<xs:element name="getContinentIdList" type="tns:getContinentIdList"></xs:element>
<xs:element name="getContinentIdListResponse" type="tns:getContinentIdListResponse"></xs:element>
<xs:element name="getContinentList" type="tns:getContinentList"></xs:element>
<xs:element name="getContinentListResponse" type="tns:getContinentListResponse"></xs:element>
<xs:element name="getContinentListSize" type="tns:getContinentListSize"></xs:element>
<xs:element name="getContinentListSizeResponse" type="tns:getContinentListSizeResponse"></xs:element>
<xs:element name="getCountryById" type="tns:getCountryById"></xs:element>
<xs:element name="getCountryByIdResponse" type="tns:getCountryByIdResponse"></xs:element>
<xs:element name="getCountryIdList" type="tns:getCountryIdList"></xs:element>
<xs:element name="getCountryIdListResponse" type="tns:getCountryIdListResponse"></xs:element>
<xs:element name="getCountryList" type="tns:getCountryList"></xs:element>
<xs:element name="getCountryListResponse" type="tns:getCountryListResponse"></xs:element>
<xs:element name="getCountryListSize" type="tns:getCountryListSize"></xs:element>
<xs:element name="getCountryListSizeResponse" type="tns:getCountryListSizeResponse"></xs:element>
<xs:element name="getCountrySubGroupById" type="tns:getCountrySubGroupById"></xs:element>
<xs:element name="getCountrySubGroupByIdResponse" type="tns:getCountrySubGroupByIdResponse"></xs:element>
<xs:element name="getCountrySubGroupIdList" type="tns:getCountrySubGroupIdList"></xs:element>
<xs:element name="getCountrySubGroupIdListResponse" type="tns:getCountrySubGroupIdListResponse"></xs:element>
<xs:element name="getCountrySubGroupList" type="tns:getCountrySubGroupList"></xs:element>
<xs:element name="getCountrySubGroupListResponse" type="tns:getCountrySubGroupListResponse"></xs:element>
<xs:element name="getCountrySubGroupListSize" type="tns:getCountrySubGroupListSize"></xs:element>
<xs:element name="getCountrySubGroupListSizeResponse" type="tns:getCountrySubGroupListSizeResponse"></xs:element>
<xs:element name="getCountrySubGroupMemberById" type="tns:getCountrySubGroupMemberById"></xs:element>
<xs:element name="getCountrySubGroupMemberByIdResponse" type="tns:getCountrySubGroupMemberByIdResponse"></xs:element>
<xs:element name="getCountrySubGroupMemberIdList" type="tns:getCountrySubGroupMemberIdList"></xs:element>
<xs:element name="getCountrySubGroupMemberIdListResponse" type="tns:getCountrySubGroupMemberIdListResponse"></xs:element>
<xs:element name="getCountrySubGroupMemberList" type="tns:getCountrySubGroupMemberList"></xs:element>
<xs:element name="getCountrySubGroupMemberListResponse" type="tns:getCountrySubGroupMemberListResponse"></xs:element>
<xs:element name="getCountrySubGroupMemberListSize" type="tns:getCountrySubGroupMemberListSize"></xs:element>
<xs:element name="getCountrySubGroupMemberListSizeResponse" type="tns:getCountrySubGroupMemberListSizeResponse"></xs:element>
<xs:element name="updateCity" type="tns:updateCity"></xs:element>
<xs:element name="updateCityResponse" type="tns:updateCityResponse"></xs:element>
<xs:element name="updateContinent" type="tns:updateContinent"></xs:element>
<xs:element name="updateContinentResponse" type="tns:updateContinentResponse"></xs:element>
<xs:element name="updateCountry" type="tns:updateCountry"></xs:element>
<xs:element name="updateCountryResponse" type="tns:updateCountryResponse"></xs:element>
<xs:element name="updateCountrySubGroup" type="tns:updateCountrySubGroup"></xs:element>
<xs:element name="updateCountrySubGroupMember" type="tns:updateCountrySubGroupMember"></xs:element>
<xs:element name="updateCountrySubGroupMemberResponse" type="tns:updateCountrySubGroupMemberResponse"></xs:element>
<xs:element name="updateCountrySubGroupResponse" type="tns:updateCountrySubGroupResponse"></xs:element>
<xs:complexType name="getCityList">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg2" type="ns1:BoolExpression"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCityListResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:City"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCountrySubGroupById">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCountrySubGroupByIdResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:CountrySubGroup"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createCountry">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:Country"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createCountryResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:Country"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAdLocalTargetListByCampaignId">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAdLocalTargetListByCampaignIdResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:AdLocalTarget"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createCity">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:City"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createCityResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:City"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createCountrySubGroupMember">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:CountrySubGroupMember"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createCountrySubGroupMemberResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:CountrySubGroupMember"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCityById">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCityByIdResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:City"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteCountrySubGroupMember">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:CountrySubGroupMember"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteCountrySubGroupMemberResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
<xs:complexType name="updateCountrySubGroupMember">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:CountrySubGroupMember"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateCountrySubGroupMemberResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:CountrySubGroupMember"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteAdLocalTarget">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:AdLocalTarget"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteAdLocalTargetResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
<xs:complexType name="createAdLocalTargetList">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="ns2:AdLocalTarget"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createAdLocalTargetListResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:AdLocalTarget"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getContinentById">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getContinentByIdResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:Continent"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCountrySubGroupListSize">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns1:BoolExpression"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCountrySubGroupListSizeResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateCountrySubGroup">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:CountrySubGroup"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateCountrySubGroupResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:CountrySubGroup"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCountrySubGroupMemberById">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCountrySubGroupMemberByIdResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:CountrySubGroupMember"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCountrySubGroupList">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg2" type="ns1:BoolExpression"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCountrySubGroupListResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:CountrySubGroup"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCountrySubGroupMemberList">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg2" type="ns1:BoolExpression"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCountrySubGroupMemberListResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:CountrySubGroupMember"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAOVE">
<xs:sequence></xs:sequence>
</xs:complexType>
<xs:complexType name="getAOVEResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:AttributeOperatorValueExpression"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteCountrySubGroup">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:CountrySubGroup"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteCountrySubGroupResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
<xs:complexType name="getCountrySubGroupMemberListSize">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns1:BoolExpression"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCountrySubGroupMemberListSizeResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createCountrySubGroup">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:CountrySubGroup"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createCountrySubGroupResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:CountrySubGroup"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createCityByArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="ns2:City"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createCityByArrayResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:City"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateCountry">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:Country"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateCountryResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:Country"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateCity">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:City"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateCityResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:City"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCountrySubGroupMemberIdList">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg2" type="ns1:BoolExpression"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCountrySubGroupMemberIdListResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCountryListSize">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns1:BoolExpression"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCountryListSizeResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteAdLocalTargetHistory">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:AdLocalTargetHistory"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteAdLocalTargetHistoryResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
<xs:complexType name="getCountryList">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg2" type="ns1:BoolExpression"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCountryListResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:Country"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getContinentList">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg2" type="ns1:BoolExpression"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getContinentListResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:Continent"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteCountry">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:Country"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteCountryResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
<xs:complexType name="getCountrySubGroupIdList">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg2" type="ns1:BoolExpression"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCountrySubGroupIdListResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAdLocalTargetHistoryList">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg2" type="ns1:BoolExpression"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAdLocalTargetHistoryListResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:AdLocalTargetHistory"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCountryById">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCountryByIdResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:Country"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateContinent">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:Continent"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateContinentResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:Continent"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getContinentListSize">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns1:BoolExpression"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getContinentListSizeResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteContinent">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:Continent"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteContinentResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
<xs:complexType name="deleteCity">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:City"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteCityResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
<xs:complexType name="getCityListSize">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns1:BoolExpression"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCityListSizeResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAdLocalTargetHistoryById">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAdLocalTargetHistoryByIdResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:AdLocalTargetHistory"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getContinentIdList">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg2" type="ns1:BoolExpression"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getContinentIdListResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createContinent">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:Continent"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createContinentResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:Continent"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createAdLocalTargetHistory">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:AdLocalTargetHistory"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createAdLocalTargetHistoryResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:AdLocalTargetHistory"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCountryIdList">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg2" type="ns1:BoolExpression"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCountryIdListResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAdLocalTargetList">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg2" type="ns1:BoolExpression"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAdLocalTargetListResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:AdLocalTarget"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createAdLocalTarget">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:AdLocalTarget"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createAdLocalTargetResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:AdLocalTarget"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"></xs:element>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://AdLocalManagement.helios.adtech.de/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://AdLocalManagement.helios.adtech.de/">
<xs:complexType name="City">
<xs:sequence>
<xs:element name="active" nillable="true" type="xs:boolean"></xs:element>
<xs:element name="area_1_Id" nillable="true" type="xs:long"></xs:element>
<xs:element name="area_2_Id" nillable="true" type="xs:long"></xs:element>
<xs:element name="area_3_Id" nillable="true" type="xs:long"></xs:element>
<xs:element name="area_4_Id" nillable="true" type="xs:long"></xs:element>
<xs:element name="cityId" nillable="true" type="xs:long"></xs:element>
<xs:element name="countryId" nillable="true" type="xs:long"></xs:element>
<xs:element name="inhabitants" nillable="true" type="xs:long"></xs:element>
<xs:element name="name" nillable="true" type="xs:string"></xs:element>
<xs:element name="zip_2_Id" nillable="true" type="xs:long"></xs:element>
<xs:element name="zip_3_Id" nillable="true" type="xs:long"></xs:element>
<xs:element name="zip_5_Id" nillable="true" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CountrySubGroup">
<xs:sequence>
<xs:element name="attributeName" nillable="true" type="xs:string"></xs:element>
<xs:element name="countryId" nillable="true" type="xs:long"></xs:element>
<xs:element name="id" nillable="true" type="xs:long"></xs:element>
<xs:element name="isCityGroup" nillable="true" type="xs:boolean"></xs:element>
<xs:element name="mainNetwork" nillable="true" type="xs:long"></xs:element>
<xs:element name="name" nillable="true" type="xs:string"></xs:element>
<xs:element name="subNetwork" nillable="true" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Country">
<xs:sequence>
<xs:element name="continentId" nillable="true" type="xs:long"></xs:element>
<xs:element name="hasNoCitySubGroups" nillable="true" type="xs:boolean"></xs:element>
<xs:element name="hasSubGroups" nillable="true" type="xs:boolean"></xs:element>
<xs:element name="id" nillable="true" type="xs:long"></xs:element>
<xs:element name="mainNetwork" nillable="true" type="xs:long"></xs:element>
<xs:element name="name" nillable="true" type="xs:string"></xs:element>
<xs:element name="subNetwork" nillable="true" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AdLocalTarget">
<xs:sequence>
<xs:element name="campaignId" nillable="true" type="xs:long"></xs:element>
<xs:element name="countryId" nillable="true" type="xs:long"></xs:element>
<xs:element name="countryName" nillable="true" type="xs:string"></xs:element>
<xs:element name="subGroupId" nillable="true" type="xs:long"></xs:element>
<xs:element name="subGroupMemberId" nillable="true" type="xs:long"></xs:element>
<xs:element name="subGroupMemberName" nillable="true" type="xs:string"></xs:element>
<xs:element name="subGroupName" nillable="true" type="xs:string"></xs:element>
<xs:element name="zipCodes" nillable="true" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CountrySubGroupMember">
<xs:sequence>
<xs:element name="countrySubGroupId" nillable="true" type="xs:long"></xs:element>
<xs:element name="id" nillable="true" type="xs:long"></xs:element>
<xs:element name="name" nillable="true" type="xs:string"></xs:element>
<xs:element name="targetId" nillable="true" type="xs:long"></xs:element>
<xs:element name="targetType" nillable="true" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Continent">
<xs:sequence>
<xs:element name="id" nillable="true" type="xs:long"></xs:element>
<xs:element name="mainNetwork" nillable="true" type="xs:long"></xs:element>
<xs:element name="name" nillable="true" type="xs:string"></xs:element>
<xs:element name="subNetwork" nillable="true" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AdLocalTargetHistory">
<xs:sequence>
<xs:element name="campaignId" nillable="true" type="xs:long"></xs:element>
<xs:element name="countryId" nillable="true" type="xs:long"></xs:element>
<xs:element name="countryName" nillable="true" type="xs:string"></xs:element>
<xs:element name="subGroupId" nillable="true" type="xs:long"></xs:element>
<xs:element name="subGroupMemberId" nillable="true" type="xs:long"></xs:element>
<xs:element name="subGroupMemberName" nillable="true" type="xs:string"></xs:element>
<xs:element name="subGroupName" nillable="true" type="xs:string"></xs:element>
<xs:element name="version" nillable="true" type="xs:long"></xs:element>
<xs:element name="zipCodes" nillable="true" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="WSAdLocalAdminException" type="WSAdLocalAdminException"></xs:element>
<xs:complexType name="WSAdLocalAdminException">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://CampaignManagement.helios.adtech.de/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://CampaignManagement.helios.adtech.de/">
<xsd:element name="CampaignManagementException" type="tns:CampaignManagementException"></xsd:element>
<xsd:complexType name="CampaignManagementException">
<xsd:sequence>
<xsd:element name="errorCause" nillable="true" type="xsd:int"></xsd:element>
<xsd:element name="errorLevel" nillable="true" type="xsd:int"></xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>

  </wsdl:types>
  <wsdl:message name="getCountryListResponse">
    <wsdl:part element="tns:getCountryListResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountrySubGroupListResponse">
    <wsdl:part element="tns:getCountrySubGroupListResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCityListSize">
    <wsdl:part element="tns:getCityListSize" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAdLocalTargetListResponse">
    <wsdl:part element="tns:createAdLocalTargetListResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAdLocalTarget">
    <wsdl:part element="tns:createAdLocalTarget" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCountrySubGroupMember">
    <wsdl:part element="tns:createCountrySubGroupMember" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAdLocalTargetResponse">
    <wsdl:part element="tns:deleteAdLocalTargetResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createContinentResponse">
    <wsdl:part element="tns:createContinentResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCityResponse">
    <wsdl:part element="tns:updateCityResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAdLocalTargetHistoryById">
    <wsdl:part element="tns:getAdLocalTargetHistoryById" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCountrySubGroupResponse">
    <wsdl:part element="tns:updateCountrySubGroupResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAdLocalTargetList">
    <wsdl:part element="tns:getAdLocalTargetList" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountrySubGroupMemberList">
    <wsdl:part element="tns:getCountrySubGroupMemberList" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCityListSizeResponse">
    <wsdl:part element="tns:getCityListSizeResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAdLocalTargetHistoryListResponse">
    <wsdl:part element="tns:getAdLocalTargetHistoryListResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCountrySubGroupMemberResponse">
    <wsdl:part element="tns:deleteCountrySubGroupMemberResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCityList">
    <wsdl:part element="tns:getCityList" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountrySubGroupListSizeResponse">
    <wsdl:part element="tns:getCountrySubGroupListSizeResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAdLocalTargetListByCampaignIdResponse">
    <wsdl:part element="tns:getAdLocalTargetListByCampaignIdResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountrySubGroupMemberIdListResponse">
    <wsdl:part element="tns:getCountrySubGroupMemberIdListResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAdLocalTargetListByCampaignId">
    <wsdl:part element="tns:getAdLocalTargetListByCampaignId" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCity">
    <wsdl:part element="tns:createCity" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCityResponse">
    <wsdl:part element="tns:deleteCityResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCountrySubGroup">
    <wsdl:part element="tns:updateCountrySubGroup" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAdLocalTargetResponse">
    <wsdl:part element="tns:createAdLocalTargetResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCountryResponse">
    <wsdl:part element="tns:updateCountryResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteContinent">
    <wsdl:part element="tns:deleteContinent" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAdLocalTargetHistoryList">
    <wsdl:part element="tns:getAdLocalTargetHistoryList" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountryListSizeResponse">
    <wsdl:part element="tns:getCountryListSizeResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createContinent">
    <wsdl:part element="tns:createContinent" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContinentListResponse">
    <wsdl:part element="tns:getContinentListResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAOVEResponse">
    <wsdl:part element="tns:getAOVEResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountrySubGroupMemberListSizeResponse">
    <wsdl:part element="tns:getCountrySubGroupMemberListSizeResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContinentListSize">
    <wsdl:part element="tns:getContinentListSize" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContinentByIdResponse">
    <wsdl:part element="tns:getContinentByIdResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountrySubGroupIdListResponse">
    <wsdl:part element="tns:getCountrySubGroupIdListResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountrySubGroupListSize">
    <wsdl:part element="tns:getCountrySubGroupListSize" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateContinentResponse">
    <wsdl:part element="tns:updateContinentResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountrySubGroupMemberListResponse">
    <wsdl:part element="tns:getCountrySubGroupMemberListResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCityByArray">
    <wsdl:part element="tns:createCityByArray" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAdLocalTargetHistory">
    <wsdl:part element="tns:deleteAdLocalTargetHistory" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountrySubGroupMemberIdList">
    <wsdl:part element="tns:getCountrySubGroupMemberIdList" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="WSAdLocalAdminException">
    <wsdl:part element="ns1:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCountry">
    <wsdl:part element="tns:updateCountry" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteContinentResponse">
    <wsdl:part element="tns:deleteContinentResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountrySubGroupById">
    <wsdl:part element="tns:getCountrySubGroupById" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAdLocalTargetHistory">
    <wsdl:part element="tns:createAdLocalTargetHistory" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCountry">
    <wsdl:part element="tns:createCountry" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContinentIdList">
    <wsdl:part element="tns:getContinentIdList" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCountryResponse">
    <wsdl:part element="tns:createCountryResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCountrySubGroupResponse">
    <wsdl:part element="tns:createCountrySubGroupResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="HeliosPersistenceException">
    <wsdl:part element="ns2:HeliosPersistenceException" name="HeliosPersistenceException"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountrySubGroupIdList">
    <wsdl:part element="tns:getCountrySubGroupIdList" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCityResponse">
    <wsdl:part element="tns:createCityResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAdLocalTargetHistoryResponse">
    <wsdl:part element="tns:createAdLocalTargetHistoryResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCountryResponse">
    <wsdl:part element="tns:deleteCountryResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCityByIdResponse">
    <wsdl:part element="tns:getCityByIdResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCountrySubGroupResponse">
    <wsdl:part element="tns:deleteCountrySubGroupResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContinentIdListResponse">
    <wsdl:part element="tns:getContinentIdListResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContinentListSizeResponse">
    <wsdl:part element="tns:getContinentListSizeResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCityListResponse">
    <wsdl:part element="tns:getCityListResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountryByIdResponse">
    <wsdl:part element="tns:getCountryByIdResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCountrySubGroupMember">
    <wsdl:part element="tns:updateCountrySubGroupMember" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCity">
    <wsdl:part element="tns:deleteCity" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAdLocalTargetHistoryResponse">
    <wsdl:part element="tns:deleteAdLocalTargetHistoryResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountrySubGroupMemberByIdResponse">
    <wsdl:part element="tns:getCountrySubGroupMemberByIdResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountryById">
    <wsdl:part element="tns:getCountryById" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCityByArrayResponse">
    <wsdl:part element="tns:createCityByArrayResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateContinent">
    <wsdl:part element="tns:updateContinent" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContinentById">
    <wsdl:part element="tns:getContinentById" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCountrySubGroup">
    <wsdl:part element="tns:createCountrySubGroup" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountryListSize">
    <wsdl:part element="tns:getCountryListSize" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountrySubGroupList">
    <wsdl:part element="tns:getCountrySubGroupList" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCity">
    <wsdl:part element="tns:updateCity" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContinentList">
    <wsdl:part element="tns:getContinentList" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAdLocalTargetHistoryByIdResponse">
    <wsdl:part element="tns:getAdLocalTargetHistoryByIdResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountrySubGroupMemberListSize">
    <wsdl:part element="tns:getCountrySubGroupMemberListSize" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCountrySubGroup">
    <wsdl:part element="tns:deleteCountrySubGroup" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountrySubGroupMemberById">
    <wsdl:part element="tns:getCountrySubGroupMemberById" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCountrySubGroupMemberResponse">
    <wsdl:part element="tns:createCountrySubGroupMemberResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCountrySubGroupMemberResponse">
    <wsdl:part element="tns:updateCountrySubGroupMemberResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCityById">
    <wsdl:part element="tns:getCityById" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CampaignManagementException">
    <wsdl:part element="ns3:CampaignManagementException" name="CampaignManagementException"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCountry">
    <wsdl:part element="tns:deleteCountry" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountryList">
    <wsdl:part element="tns:getCountryList" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountryIdListResponse">
    <wsdl:part element="tns:getCountryIdListResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAdLocalTargetList">
    <wsdl:part element="tns:createAdLocalTargetList" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAdLocalTargetListResponse">
    <wsdl:part element="tns:getAdLocalTargetListResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAOVE">
    <wsdl:part element="tns:getAOVE" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountryIdList">
    <wsdl:part element="tns:getCountryIdList" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAdLocalTarget">
    <wsdl:part element="tns:deleteAdLocalTarget" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCountrySubGroupMember">
    <wsdl:part element="tns:deleteCountrySubGroupMember" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountrySubGroupByIdResponse">
    <wsdl:part element="tns:getCountrySubGroupByIdResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WSAdLocalAdmin_v3">
    <wsdl:operation name="getCityList">
      <wsdl:input message="tns:getCityList" name="getCityList"></wsdl:input>
      <wsdl:output message="tns:getCityListResponse" name="getCityListResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountrySubGroupById">
      <wsdl:input message="tns:getCountrySubGroupById" name="getCountrySubGroupById"></wsdl:input>
      <wsdl:output message="tns:getCountrySubGroupByIdResponse" name="getCountrySubGroupByIdResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createCountry">
      <wsdl:input message="tns:createCountry" name="createCountry"></wsdl:input>
      <wsdl:output message="tns:createCountryResponse" name="createCountryResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAdLocalTargetListByCampaignId">
      <wsdl:input message="tns:getAdLocalTargetListByCampaignId" name="getAdLocalTargetListByCampaignId"></wsdl:input>
      <wsdl:output message="tns:getAdLocalTargetListByCampaignIdResponse" name="getAdLocalTargetListByCampaignIdResponse"></wsdl:output>
      <wsdl:fault message="tns:HeliosPersistenceException" name="HeliosPersistenceException"></wsdl:fault>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
      <wsdl:fault message="tns:CampaignManagementException" name="CampaignManagementException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createCity">
      <wsdl:input message="tns:createCity" name="createCity"></wsdl:input>
      <wsdl:output message="tns:createCityResponse" name="createCityResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createCountrySubGroupMember">
      <wsdl:input message="tns:createCountrySubGroupMember" name="createCountrySubGroupMember"></wsdl:input>
      <wsdl:output message="tns:createCountrySubGroupMemberResponse" name="createCountrySubGroupMemberResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCityById">
      <wsdl:input message="tns:getCityById" name="getCityById"></wsdl:input>
      <wsdl:output message="tns:getCityByIdResponse" name="getCityByIdResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteCountrySubGroupMember">
      <wsdl:input message="tns:deleteCountrySubGroupMember" name="deleteCountrySubGroupMember"></wsdl:input>
      <wsdl:output message="tns:deleteCountrySubGroupMemberResponse" name="deleteCountrySubGroupMemberResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateCountrySubGroupMember">
      <wsdl:input message="tns:updateCountrySubGroupMember" name="updateCountrySubGroupMember"></wsdl:input>
      <wsdl:output message="tns:updateCountrySubGroupMemberResponse" name="updateCountrySubGroupMemberResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteAdLocalTarget">
      <wsdl:input message="tns:deleteAdLocalTarget" name="deleteAdLocalTarget"></wsdl:input>
      <wsdl:output message="tns:deleteAdLocalTargetResponse" name="deleteAdLocalTargetResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createAdLocalTargetList">
      <wsdl:input message="tns:createAdLocalTargetList" name="createAdLocalTargetList"></wsdl:input>
      <wsdl:output message="tns:createAdLocalTargetListResponse" name="createAdLocalTargetListResponse"></wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContinentById">
      <wsdl:input message="tns:getContinentById" name="getContinentById"></wsdl:input>
      <wsdl:output message="tns:getContinentByIdResponse" name="getContinentByIdResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountrySubGroupListSize">
      <wsdl:input message="tns:getCountrySubGroupListSize" name="getCountrySubGroupListSize"></wsdl:input>
      <wsdl:output message="tns:getCountrySubGroupListSizeResponse" name="getCountrySubGroupListSizeResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateCountrySubGroup">
      <wsdl:input message="tns:updateCountrySubGroup" name="updateCountrySubGroup"></wsdl:input>
      <wsdl:output message="tns:updateCountrySubGroupResponse" name="updateCountrySubGroupResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountrySubGroupMemberById">
      <wsdl:input message="tns:getCountrySubGroupMemberById" name="getCountrySubGroupMemberById"></wsdl:input>
      <wsdl:output message="tns:getCountrySubGroupMemberByIdResponse" name="getCountrySubGroupMemberByIdResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountrySubGroupList">
      <wsdl:input message="tns:getCountrySubGroupList" name="getCountrySubGroupList"></wsdl:input>
      <wsdl:output message="tns:getCountrySubGroupListResponse" name="getCountrySubGroupListResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountrySubGroupMemberList">
      <wsdl:input message="tns:getCountrySubGroupMemberList" name="getCountrySubGroupMemberList"></wsdl:input>
      <wsdl:output message="tns:getCountrySubGroupMemberListResponse" name="getCountrySubGroupMemberListResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAOVE">
      <wsdl:input message="tns:getAOVE" name="getAOVE"></wsdl:input>
      <wsdl:output message="tns:getAOVEResponse" name="getAOVEResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCountrySubGroup">
      <wsdl:input message="tns:deleteCountrySubGroup" name="deleteCountrySubGroup"></wsdl:input>
      <wsdl:output message="tns:deleteCountrySubGroupResponse" name="deleteCountrySubGroupResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountrySubGroupMemberListSize">
      <wsdl:input message="tns:getCountrySubGroupMemberListSize" name="getCountrySubGroupMemberListSize"></wsdl:input>
      <wsdl:output message="tns:getCountrySubGroupMemberListSizeResponse" name="getCountrySubGroupMemberListSizeResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createCountrySubGroup">
      <wsdl:input message="tns:createCountrySubGroup" name="createCountrySubGroup"></wsdl:input>
      <wsdl:output message="tns:createCountrySubGroupResponse" name="createCountrySubGroupResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createCityByArray">
      <wsdl:input message="tns:createCityByArray" name="createCityByArray"></wsdl:input>
      <wsdl:output message="tns:createCityByArrayResponse" name="createCityByArrayResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateCountry">
      <wsdl:input message="tns:updateCountry" name="updateCountry"></wsdl:input>
      <wsdl:output message="tns:updateCountryResponse" name="updateCountryResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateCity">
      <wsdl:input message="tns:updateCity" name="updateCity"></wsdl:input>
      <wsdl:output message="tns:updateCityResponse" name="updateCityResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountrySubGroupMemberIdList">
      <wsdl:input message="tns:getCountrySubGroupMemberIdList" name="getCountrySubGroupMemberIdList"></wsdl:input>
      <wsdl:output message="tns:getCountrySubGroupMemberIdListResponse" name="getCountrySubGroupMemberIdListResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountryListSize">
      <wsdl:input message="tns:getCountryListSize" name="getCountryListSize"></wsdl:input>
      <wsdl:output message="tns:getCountryListSizeResponse" name="getCountryListSizeResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteAdLocalTargetHistory">
      <wsdl:input message="tns:deleteAdLocalTargetHistory" name="deleteAdLocalTargetHistory"></wsdl:input>
      <wsdl:output message="tns:deleteAdLocalTargetHistoryResponse" name="deleteAdLocalTargetHistoryResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountryList">
      <wsdl:input message="tns:getCountryList" name="getCountryList"></wsdl:input>
      <wsdl:output message="tns:getCountryListResponse" name="getCountryListResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContinentList">
      <wsdl:input message="tns:getContinentList" name="getContinentList"></wsdl:input>
      <wsdl:output message="tns:getContinentListResponse" name="getContinentListResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteCountry">
      <wsdl:input message="tns:deleteCountry" name="deleteCountry"></wsdl:input>
      <wsdl:output message="tns:deleteCountryResponse" name="deleteCountryResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountrySubGroupIdList">
      <wsdl:input message="tns:getCountrySubGroupIdList" name="getCountrySubGroupIdList"></wsdl:input>
      <wsdl:output message="tns:getCountrySubGroupIdListResponse" name="getCountrySubGroupIdListResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAdLocalTargetHistoryList">
      <wsdl:input message="tns:getAdLocalTargetHistoryList" name="getAdLocalTargetHistoryList"></wsdl:input>
      <wsdl:output message="tns:getAdLocalTargetHistoryListResponse" name="getAdLocalTargetHistoryListResponse"></wsdl:output>
      <wsdl:fault message="tns:HeliosPersistenceException" name="HeliosPersistenceException"></wsdl:fault>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
      <wsdl:fault message="tns:CampaignManagementException" name="CampaignManagementException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountryById">
      <wsdl:input message="tns:getCountryById" name="getCountryById"></wsdl:input>
      <wsdl:output message="tns:getCountryByIdResponse" name="getCountryByIdResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateContinent">
      <wsdl:input message="tns:updateContinent" name="updateContinent"></wsdl:input>
      <wsdl:output message="tns:updateContinentResponse" name="updateContinentResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContinentListSize">
      <wsdl:input message="tns:getContinentListSize" name="getContinentListSize"></wsdl:input>
      <wsdl:output message="tns:getContinentListSizeResponse" name="getContinentListSizeResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteContinent">
      <wsdl:input message="tns:deleteContinent" name="deleteContinent"></wsdl:input>
      <wsdl:output message="tns:deleteContinentResponse" name="deleteContinentResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteCity">
      <wsdl:input message="tns:deleteCity" name="deleteCity"></wsdl:input>
      <wsdl:output message="tns:deleteCityResponse" name="deleteCityResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCityListSize">
      <wsdl:input message="tns:getCityListSize" name="getCityListSize"></wsdl:input>
      <wsdl:output message="tns:getCityListSizeResponse" name="getCityListSizeResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAdLocalTargetHistoryById">
      <wsdl:input message="tns:getAdLocalTargetHistoryById" name="getAdLocalTargetHistoryById"></wsdl:input>
      <wsdl:output message="tns:getAdLocalTargetHistoryByIdResponse" name="getAdLocalTargetHistoryByIdResponse"></wsdl:output>
      <wsdl:fault message="tns:HeliosPersistenceException" name="HeliosPersistenceException"></wsdl:fault>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
      <wsdl:fault message="tns:CampaignManagementException" name="CampaignManagementException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContinentIdList">
      <wsdl:input message="tns:getContinentIdList" name="getContinentIdList"></wsdl:input>
      <wsdl:output message="tns:getContinentIdListResponse" name="getContinentIdListResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createContinent">
      <wsdl:input message="tns:createContinent" name="createContinent"></wsdl:input>
      <wsdl:output message="tns:createContinentResponse" name="createContinentResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createAdLocalTargetHistory">
      <wsdl:input message="tns:createAdLocalTargetHistory" name="createAdLocalTargetHistory"></wsdl:input>
      <wsdl:output message="tns:createAdLocalTargetHistoryResponse" name="createAdLocalTargetHistoryResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountryIdList">
      <wsdl:input message="tns:getCountryIdList" name="getCountryIdList"></wsdl:input>
      <wsdl:output message="tns:getCountryIdListResponse" name="getCountryIdListResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAdLocalTargetList">
      <wsdl:input message="tns:getAdLocalTargetList" name="getAdLocalTargetList"></wsdl:input>
      <wsdl:output message="tns:getAdLocalTargetListResponse" name="getAdLocalTargetListResponse"></wsdl:output>
      <wsdl:fault message="tns:HeliosPersistenceException" name="HeliosPersistenceException"></wsdl:fault>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
      <wsdl:fault message="tns:CampaignManagementException" name="CampaignManagementException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createAdLocalTarget">
      <wsdl:input message="tns:createAdLocalTarget" name="createAdLocalTarget"></wsdl:input>
      <wsdl:output message="tns:createAdLocalTargetResponse" name="createAdLocalTargetResponse"></wsdl:output>
      <wsdl:fault message="tns:WSAdLocalAdminException" name="WSAdLocalAdminException"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSAdLocalAdmin_v3ServiceSoapBinding" type="tns:WSAdLocalAdmin_v3">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="getCityList">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getCityList">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getCityListResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createCountry">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="createCountry">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="createCountryResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountrySubGroupById">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getCountrySubGroupById">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getCountrySubGroupByIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createCity">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="createCity">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="createCityResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAdLocalTargetListByCampaignId">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getAdLocalTargetListByCampaignId">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getAdLocalTargetListByCampaignIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="HeliosPersistenceException">
        <soap:fault name="HeliosPersistenceException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="CampaignManagementException">
        <soap:fault name="CampaignManagementException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createCountrySubGroupMember">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="createCountrySubGroupMember">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="createCountrySubGroupMemberResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteCountrySubGroupMember">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="deleteCountrySubGroupMember">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="deleteCountrySubGroupMemberResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCityById">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getCityById">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getCityByIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteAdLocalTarget">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="deleteAdLocalTarget">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="deleteAdLocalTargetResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateCountrySubGroupMember">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="updateCountrySubGroupMember">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="updateCountrySubGroupMemberResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createAdLocalTargetList">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="createAdLocalTargetList">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="createAdLocalTargetListResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContinentById">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getContinentById">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getContinentByIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountrySubGroupListSize">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getCountrySubGroupListSize">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getCountrySubGroupListSizeResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountrySubGroupList">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getCountrySubGroupList">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getCountrySubGroupListResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountrySubGroupMemberById">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getCountrySubGroupMemberById">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getCountrySubGroupMemberByIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateCountrySubGroup">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="updateCountrySubGroup">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="updateCountrySubGroupResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAOVE">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getAOVE">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getAOVEResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCountrySubGroupMemberList">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getCountrySubGroupMemberList">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getCountrySubGroupMemberListResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteCountrySubGroup">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="deleteCountrySubGroup">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="deleteCountrySubGroupResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountrySubGroupMemberListSize">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getCountrySubGroupMemberListSize">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getCountrySubGroupMemberListSizeResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createCountrySubGroup">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="createCountrySubGroup">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="createCountrySubGroupResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createCityByArray">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="createCityByArray">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="createCityByArrayResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateCity">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="updateCity">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="updateCityResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateCountry">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="updateCountry">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="updateCountryResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteAdLocalTargetHistory">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="deleteAdLocalTargetHistory">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="deleteAdLocalTargetHistoryResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountryListSize">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getCountryListSize">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getCountryListSizeResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountrySubGroupMemberIdList">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getCountrySubGroupMemberIdList">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getCountrySubGroupMemberIdListResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteCountry">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="deleteCountry">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="deleteCountryResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContinentList">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getContinentList">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getContinentListResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountryList">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getCountryList">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getCountryListResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountrySubGroupIdList">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getCountrySubGroupIdList">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getCountrySubGroupIdListResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAdLocalTargetHistoryList">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getAdLocalTargetHistoryList">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getAdLocalTargetHistoryListResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="HeliosPersistenceException">
        <soap:fault name="HeliosPersistenceException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="CampaignManagementException">
        <soap:fault name="CampaignManagementException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountryById">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getCountryById">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getCountryByIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContinentListSize">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getContinentListSize">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getContinentListSizeResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateContinent">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="updateContinent">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="updateContinentResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteContinent">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="deleteContinent">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="deleteContinentResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteCity">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="deleteCity">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="deleteCityResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAdLocalTargetHistoryById">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getAdLocalTargetHistoryById">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getAdLocalTargetHistoryByIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="HeliosPersistenceException">
        <soap:fault name="HeliosPersistenceException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="CampaignManagementException">
        <soap:fault name="CampaignManagementException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCityListSize">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getCityListSize">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getCityListSizeResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createContinent">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="createContinent">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="createContinentResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContinentIdList">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getContinentIdList">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getContinentIdListResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createAdLocalTargetHistory">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="createAdLocalTargetHistory">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="createAdLocalTargetHistoryResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountryIdList">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getCountryIdList">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getCountryIdListResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createAdLocalTarget">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="createAdLocalTarget">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="createAdLocalTargetResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAdLocalTargetList">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getAdLocalTargetList">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getAdLocalTargetListResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="HeliosPersistenceException">
        <soap:fault name="HeliosPersistenceException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="WSAdLocalAdminException">
        <soap:fault name="WSAdLocalAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="CampaignManagementException">
        <soap:fault name="CampaignManagementException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSAdLocalAdmin_v3Service">
    <wsdl:port binding="tns:WSAdLocalAdmin_v3ServiceSoapBinding" name="WSAdLocalAdmin_v3Port">
      <soap:address location="http://ws-api.adtech.de/WSAdLocalAdmin_v3"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>