conf/wsdlRepository/WSImsClientFunctions_v6.wsdl

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://WSImsClient_v6.helios.adtech.de/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WSImsClientFunctions_v6Service" targetNamespace="http://WSImsClient_v6.helios.adtech.de/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://helios.adtech.de/" elementFormDefault="qualified" targetNamespace="http://helios.adtech.de/" version="1.0">
<xs:complexType name="Wrapper">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="value" nillable="true" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ANDExpression">
<xs:complexContent>
<xs:extension base="tns:BoolExpression">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="BoolExpression">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="expressions" nillable="true" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ORExpression">
<xs:complexContent>
<xs:extension base="tns:BoolExpression">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="QueryOrderParameter">
<xs:sequence>
<xs:element name="order" nillable="true" type="xs:string"></xs:element>
<xs:element name="propertyName" nillable="true" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NOTExpression">
<xs:complexContent>
<xs:extension base="tns:BoolExpression">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:schema>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://WSImsClient_v6.helios.adtech.de/" xmlns:ns1="http://ImsClient.lowLevel.helios.webservices.adtech.de/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://WSImsClient_v6.helios.adtech.de/">
<xs:import namespace="http://ImsClient.lowLevel.helios.webservices.adtech.de/"></xs:import>
<xs:element name="addIMSOverrideForPlacement" type="tns:addIMSOverrideForPlacement"></xs:element>
<xs:element name="addIMSOverrideForPlacementResponse" type="tns:addIMSOverrideForPlacementResponse"></xs:element>
<xs:element name="freeReservationByCampaignId" type="tns:freeReservationByCampaignId"></xs:element>
<xs:element name="freeReservationByCampaignIdResponse" type="tns:freeReservationByCampaignIdResponse"></xs:element>
<xs:element name="getAvailsByCampaignId" type="tns:getAvailsByCampaignId"></xs:element>
<xs:element name="getAvailsByCampaignIdByDateRange" type="tns:getAvailsByCampaignIdByDateRange"></xs:element>
<xs:element name="getAvailsByCampaignIdByDateRangeResponse" type="tns:getAvailsByCampaignIdByDateRangeResponse"></xs:element>
<xs:element name="getAvailsByCampaignIdResponse" type="tns:getAvailsByCampaignIdResponse"></xs:element>
<xs:element name="getAvailsByPlacementIds" type="tns:getAvailsByPlacementIds"></xs:element>
<xs:element name="getAvailsByPlacementIdsResponse" type="tns:getAvailsByPlacementIdsResponse"></xs:element>
<xs:element name="getAvailsByPlacementsByDateRange" type="tns:getAvailsByPlacementsByDateRange"></xs:element>
<xs:element name="getAvailsByPlacementsByDateRangeResponse" type="tns:getAvailsByPlacementsByDateRangeResponse"></xs:element>
<xs:element name="getCapacityByCampaignId" type="tns:getCapacityByCampaignId"></xs:element>
<xs:element name="getCapacityByCampaignIdByDateRange" type="tns:getCapacityByCampaignIdByDateRange"></xs:element>
<xs:element name="getCapacityByCampaignIdByDateRangeByLogin" type="tns:getCapacityByCampaignIdByDateRangeByLogin"></xs:element>
<xs:element name="getCapacityByCampaignIdByDateRangeByLoginResponse" type="tns:getCapacityByCampaignIdByDateRangeByLoginResponse"></xs:element>
<xs:element name="getCapacityByCampaignIdByDateRangeResponse" type="tns:getCapacityByCampaignIdByDateRangeResponse"></xs:element>
<xs:element name="getCapacityByCampaignIdByLogin" type="tns:getCapacityByCampaignIdByLogin"></xs:element>
<xs:element name="getCapacityByCampaignIdByLoginResponse" type="tns:getCapacityByCampaignIdByLoginResponse"></xs:element>
<xs:element name="getCapacityByCampaignIdResponse" type="tns:getCapacityByCampaignIdResponse"></xs:element>
<xs:element name="getIMSOverrideDataByPlacementId" type="tns:getIMSOverrideDataByPlacementId"></xs:element>
<xs:element name="getIMSOverrideDataByPlacementIdResponse" type="tns:getIMSOverrideDataByPlacementIdResponse"></xs:element>
<xs:element name="getSummaryAllocationInfoByPlacementIds" type="tns:getSummaryAllocationInfoByPlacementIds"></xs:element>
<xs:element name="getSummaryAllocationInfoByPlacementIdsResponse" type="tns:getSummaryAllocationInfoByPlacementIdsResponse"></xs:element>
<xs:element name="getSummaryAllocationInfoByPlacementIdsTyped" type="tns:getSummaryAllocationInfoByPlacementIdsTyped"></xs:element>
<xs:element name="getSummaryAllocationInfoByPlacementIdsTypedResponse" type="tns:getSummaryAllocationInfoByPlacementIdsTypedResponse"></xs:element>
<xs:element name="makeOverbookedReservationByCampaignId" type="tns:makeOverbookedReservationByCampaignId"></xs:element>
<xs:element name="makeOverbookedReservationByCampaignIdResponse" type="tns:makeOverbookedReservationByCampaignIdResponse"></xs:element>
<xs:element name="makeReservationByCampaignId" type="tns:makeReservationByCampaignId"></xs:element>
<xs:element name="makeReservationByCampaignIdResponse" type="tns:makeReservationByCampaignIdResponse"></xs:element>
<xs:element name="modifyIMSOverrideForPlacement" type="tns:modifyIMSOverrideForPlacement"></xs:element>
<xs:element name="modifyIMSOverrideForPlacementResponse" type="tns:modifyIMSOverrideForPlacementResponse"></xs:element>
<xs:element name="removeIMSOverrideFromPlacement" type="tns:removeIMSOverrideFromPlacement"></xs:element>
<xs:element name="removeIMSOverrideFromPlacementResponse" type="tns:removeIMSOverrideFromPlacementResponse"></xs:element>
<xs:complexType name="modifyIMSOverrideForPlacement">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns1:IDateRange"></xs:element>
<xs:element minOccurs="0" name="arg1" type="ns1:IDateRange"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="modifyIMSOverrideForPlacementResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
<xs:complexType name="makeOverbookedReservationByCampaignId">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="ns1:ReservationGoal"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="makeOverbookedReservationByCampaignIdResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAvailsByCampaignIdByDateRange">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:dateTime"></xs:element>
<xs:element minOccurs="0" name="arg2" type="xs:dateTime"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAvailsByCampaignIdByDateRangeResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAvailsByPlacementIds">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element name="arg1" type="xs:int"></xs:element>
<xs:element name="arg2" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAvailsByPlacementIdsResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSummaryAllocationInfoByPlacementIds">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
<xs:element name="arg1" type="xs:int"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSummaryAllocationInfoByPlacementIdsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCapacityByCampaignIdByDateRangeByLogin">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:dateTime"></xs:element>
<xs:element minOccurs="0" name="arg2" type="xs:dateTime"></xs:element>
<xs:element minOccurs="0" name="arg3" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="arg4" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCapacityByCampaignIdByDateRangeByLoginResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="freeReservationByCampaignId">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="freeReservationByCampaignIdResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCapacityByCampaignId">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCapacityByCampaignIdResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="makeReservationByCampaignId">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="ns1:ReservationGoal"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="makeReservationByCampaignIdResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAvailsByPlacementsByDateRange">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element name="arg1" type="xs:int"></xs:element>
<xs:element name="arg2" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAvailsByPlacementsByDateRangeResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:PlacementAvailsData"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCapacityByCampaignIdByDateRange">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:dateTime"></xs:element>
<xs:element minOccurs="0" name="arg2" type="xs:dateTime"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCapacityByCampaignIdByDateRangeResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCapacityByCampaignIdByLogin">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="arg2" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCapacityByCampaignIdByLoginResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSummaryAllocationInfoByPlacementIdsTyped">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
<xs:element name="arg1" type="xs:int"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSummaryAllocationInfoByPlacementIdsTypedResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:IRepDateSummaryInfo"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAvailsByCampaignId">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAvailsByCampaignIdResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addIMSOverrideForPlacement">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns1:IDateRange"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addIMSOverrideForPlacementResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
<xs:complexType name="removeIMSOverrideFromPlacement">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns1:IDateRange"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="removeIMSOverrideFromPlacementResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
<xs:complexType name="getIMSOverrideDataByPlacementId">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getIMSOverrideDataByPlacementIdResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:IDateRange"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"></xs:element>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ImsClient.lowLevel.helios.webservices.adtech.de/" version="1.0">
<xs:complexType name="IDateRange">
<xs:sequence>
<xs:element name="capacity" nillable="true" type="xs:int"></xs:element>
<xs:element name="endDate" nillable="true" type="xs:int"></xs:element>
<xs:element name="networkId" nillable="true" type="xs:int"></xs:element>
<xs:element name="placementId" nillable="true" type="xs:int"></xs:element>
<xs:element name="startDate" nillable="true" type="xs:int"></xs:element>
<xs:element name="subNetworkId" nillable="true" type="xs:int"></xs:element>
<xs:element name="usesOverride" nillable="true" type="xs:boolean"></xs:element>
<xs:element name="webSiteId" nillable="true" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ReservationGoal">
<xs:sequence>
<xs:element name="desiredImpressions" nillable="true" type="xs:long"></xs:element>
<xs:element name="guaranteedImpressions" nillable="true" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PlacementAvailsData">
<xs:sequence>
<xs:element name="avails" nillable="true" type="xs:long"></xs:element>
<xs:element name="placementId" nillable="true" type="xs:long"></xs:element>
<xs:element name="websiteId" nillable="true" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IRepDateSummaryInfo">
<xs:sequence>
<xs:element name="day" nillable="true" type="xs:int"></xs:element>
<xs:element name="reserved" nillable="true" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>

  </wsdl:types>
  <wsdl:message name="getCapacityByCampaignIdResponse">
    <wsdl:part element="tns:getCapacityByCampaignIdResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="addIMSOverrideForPlacementResponse">
    <wsdl:part element="tns:addIMSOverrideForPlacementResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSummaryAllocationInfoByPlacementIdsTypedResponse">
    <wsdl:part element="tns:getSummaryAllocationInfoByPlacementIdsTypedResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="makeReservationByCampaignId">
    <wsdl:part element="tns:makeReservationByCampaignId" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getIMSOverrideDataByPlacementId">
    <wsdl:part element="tns:getIMSOverrideDataByPlacementId" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSummaryAllocationInfoByPlacementIdsResponse">
    <wsdl:part element="tns:getSummaryAllocationInfoByPlacementIdsResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeIMSOverrideFromPlacementResponse">
    <wsdl:part element="tns:removeIMSOverrideFromPlacementResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="makeReservationByCampaignIdResponse">
    <wsdl:part element="tns:makeReservationByCampaignIdResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAvailsByCampaignIdResponse">
    <wsdl:part element="tns:getAvailsByCampaignIdResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyIMSOverrideForPlacementResponse">
    <wsdl:part element="tns:modifyIMSOverrideForPlacementResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyIMSOverrideForPlacement">
    <wsdl:part element="tns:modifyIMSOverrideForPlacement" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCapacityByCampaignId">
    <wsdl:part element="tns:getCapacityByCampaignId" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="addIMSOverrideForPlacement">
    <wsdl:part element="tns:addIMSOverrideForPlacement" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAvailsByPlacementsByDateRangeResponse">
    <wsdl:part element="tns:getAvailsByPlacementsByDateRangeResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeIMSOverrideFromPlacement">
    <wsdl:part element="tns:removeIMSOverrideFromPlacement" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAvailsByCampaignIdByDateRange">
    <wsdl:part element="tns:getAvailsByCampaignIdByDateRange" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCapacityByCampaignIdByDateRangeResponse">
    <wsdl:part element="tns:getCapacityByCampaignIdByDateRangeResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAvailsByPlacementIdsResponse">
    <wsdl:part element="tns:getAvailsByPlacementIdsResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAvailsByPlacementsByDateRange">
    <wsdl:part element="tns:getAvailsByPlacementsByDateRange" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCapacityByCampaignIdByDateRange">
    <wsdl:part element="tns:getCapacityByCampaignIdByDateRange" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSummaryAllocationInfoByPlacementIds">
    <wsdl:part element="tns:getSummaryAllocationInfoByPlacementIds" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAvailsByPlacementIds">
    <wsdl:part element="tns:getAvailsByPlacementIds" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAvailsByCampaignIdByDateRangeResponse">
    <wsdl:part element="tns:getAvailsByCampaignIdByDateRangeResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="freeReservationByCampaignIdResponse">
    <wsdl:part element="tns:freeReservationByCampaignIdResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getIMSOverrideDataByPlacementIdResponse">
    <wsdl:part element="tns:getIMSOverrideDataByPlacementIdResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAvailsByCampaignId">
    <wsdl:part element="tns:getAvailsByCampaignId" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCapacityByCampaignIdByLoginResponse">
    <wsdl:part element="tns:getCapacityByCampaignIdByLoginResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="makeOverbookedReservationByCampaignId">
    <wsdl:part element="tns:makeOverbookedReservationByCampaignId" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="makeOverbookedReservationByCampaignIdResponse">
    <wsdl:part element="tns:makeOverbookedReservationByCampaignIdResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCapacityByCampaignIdByLogin">
    <wsdl:part element="tns:getCapacityByCampaignIdByLogin" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSummaryAllocationInfoByPlacementIdsTyped">
    <wsdl:part element="tns:getSummaryAllocationInfoByPlacementIdsTyped" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCapacityByCampaignIdByDateRangeByLogin">
    <wsdl:part element="tns:getCapacityByCampaignIdByDateRangeByLogin" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCapacityByCampaignIdByDateRangeByLoginResponse">
    <wsdl:part element="tns:getCapacityByCampaignIdByDateRangeByLoginResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="freeReservationByCampaignId">
    <wsdl:part element="tns:freeReservationByCampaignId" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WSImsClientFunctions_v6">
    <wsdl:operation name="modifyIMSOverrideForPlacement">
      <wsdl:input message="tns:modifyIMSOverrideForPlacement" name="modifyIMSOverrideForPlacement"></wsdl:input>
      <wsdl:output message="tns:modifyIMSOverrideForPlacementResponse" name="modifyIMSOverrideForPlacementResponse"></wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="makeOverbookedReservationByCampaignId">
      <wsdl:input message="tns:makeOverbookedReservationByCampaignId" name="makeOverbookedReservationByCampaignId"></wsdl:input>
      <wsdl:output message="tns:makeOverbookedReservationByCampaignIdResponse" name="makeOverbookedReservationByCampaignIdResponse"></wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAvailsByCampaignIdByDateRange">
      <wsdl:input message="tns:getAvailsByCampaignIdByDateRange" name="getAvailsByCampaignIdByDateRange"></wsdl:input>
      <wsdl:output message="tns:getAvailsByCampaignIdByDateRangeResponse" name="getAvailsByCampaignIdByDateRangeResponse"></wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAvailsByPlacementIds">
      <wsdl:input message="tns:getAvailsByPlacementIds" name="getAvailsByPlacementIds"></wsdl:input>
      <wsdl:output message="tns:getAvailsByPlacementIdsResponse" name="getAvailsByPlacementIdsResponse"></wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSummaryAllocationInfoByPlacementIds">
      <wsdl:input message="tns:getSummaryAllocationInfoByPlacementIds" name="getSummaryAllocationInfoByPlacementIds"></wsdl:input>
      <wsdl:output message="tns:getSummaryAllocationInfoByPlacementIdsResponse" name="getSummaryAllocationInfoByPlacementIdsResponse"></wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCapacityByCampaignIdByDateRangeByLogin">
      <wsdl:input message="tns:getCapacityByCampaignIdByDateRangeByLogin" name="getCapacityByCampaignIdByDateRangeByLogin"></wsdl:input>
      <wsdl:output message="tns:getCapacityByCampaignIdByDateRangeByLoginResponse" name="getCapacityByCampaignIdByDateRangeByLoginResponse"></wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="freeReservationByCampaignId">
      <wsdl:input message="tns:freeReservationByCampaignId" name="freeReservationByCampaignId"></wsdl:input>
      <wsdl:output message="tns:freeReservationByCampaignIdResponse" name="freeReservationByCampaignIdResponse"></wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCapacityByCampaignId">
      <wsdl:input message="tns:getCapacityByCampaignId" name="getCapacityByCampaignId"></wsdl:input>
      <wsdl:output message="tns:getCapacityByCampaignIdResponse" name="getCapacityByCampaignIdResponse"></wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="makeReservationByCampaignId">
      <wsdl:input message="tns:makeReservationByCampaignId" name="makeReservationByCampaignId"></wsdl:input>
      <wsdl:output message="tns:makeReservationByCampaignIdResponse" name="makeReservationByCampaignIdResponse"></wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAvailsByPlacementsByDateRange">
      <wsdl:input message="tns:getAvailsByPlacementsByDateRange" name="getAvailsByPlacementsByDateRange"></wsdl:input>
      <wsdl:output message="tns:getAvailsByPlacementsByDateRangeResponse" name="getAvailsByPlacementsByDateRangeResponse"></wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCapacityByCampaignIdByDateRange">
      <wsdl:input message="tns:getCapacityByCampaignIdByDateRange" name="getCapacityByCampaignIdByDateRange"></wsdl:input>
      <wsdl:output message="tns:getCapacityByCampaignIdByDateRangeResponse" name="getCapacityByCampaignIdByDateRangeResponse"></wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCapacityByCampaignIdByLogin">
      <wsdl:input message="tns:getCapacityByCampaignIdByLogin" name="getCapacityByCampaignIdByLogin"></wsdl:input>
      <wsdl:output message="tns:getCapacityByCampaignIdByLoginResponse" name="getCapacityByCampaignIdByLoginResponse"></wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSummaryAllocationInfoByPlacementIdsTyped">
      <wsdl:input message="tns:getSummaryAllocationInfoByPlacementIdsTyped" name="getSummaryAllocationInfoByPlacementIdsTyped"></wsdl:input>
      <wsdl:output message="tns:getSummaryAllocationInfoByPlacementIdsTypedResponse" name="getSummaryAllocationInfoByPlacementIdsTypedResponse"></wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAvailsByCampaignId">
      <wsdl:input message="tns:getAvailsByCampaignId" name="getAvailsByCampaignId"></wsdl:input>
      <wsdl:output message="tns:getAvailsByCampaignIdResponse" name="getAvailsByCampaignIdResponse"></wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addIMSOverrideForPlacement">
      <wsdl:input message="tns:addIMSOverrideForPlacement" name="addIMSOverrideForPlacement"></wsdl:input>
      <wsdl:output message="tns:addIMSOverrideForPlacementResponse" name="addIMSOverrideForPlacementResponse"></wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeIMSOverrideFromPlacement">
      <wsdl:input message="tns:removeIMSOverrideFromPlacement" name="removeIMSOverrideFromPlacement"></wsdl:input>
      <wsdl:output message="tns:removeIMSOverrideFromPlacementResponse" name="removeIMSOverrideFromPlacementResponse"></wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getIMSOverrideDataByPlacementId">
      <wsdl:input message="tns:getIMSOverrideDataByPlacementId" name="getIMSOverrideDataByPlacementId"></wsdl:input>
      <wsdl:output message="tns:getIMSOverrideDataByPlacementIdResponse" name="getIMSOverrideDataByPlacementIdResponse"></wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSImsClientFunctions_v6ServiceSoapBinding" type="tns:WSImsClientFunctions_v6">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="makeOverbookedReservationByCampaignId">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="makeOverbookedReservationByCampaignId">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="makeOverbookedReservationByCampaignIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyIMSOverrideForPlacement">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="modifyIMSOverrideForPlacement">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="modifyIMSOverrideForPlacementResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAvailsByCampaignIdByDateRange">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getAvailsByCampaignIdByDateRange">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getAvailsByCampaignIdByDateRangeResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAvailsByPlacementIds">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getAvailsByPlacementIds">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getAvailsByPlacementIdsResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSummaryAllocationInfoByPlacementIds">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getSummaryAllocationInfoByPlacementIds">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getSummaryAllocationInfoByPlacementIdsResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="freeReservationByCampaignId">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="freeReservationByCampaignId">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="freeReservationByCampaignIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCapacityByCampaignIdByDateRangeByLogin">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getCapacityByCampaignIdByDateRangeByLogin">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getCapacityByCampaignIdByDateRangeByLoginResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCapacityByCampaignId">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getCapacityByCampaignId">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getCapacityByCampaignIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAvailsByPlacementsByDateRange">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getAvailsByPlacementsByDateRange">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getAvailsByPlacementsByDateRangeResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="makeReservationByCampaignId">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="makeReservationByCampaignId">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="makeReservationByCampaignIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCapacityByCampaignIdByDateRange">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getCapacityByCampaignIdByDateRange">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getCapacityByCampaignIdByDateRangeResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCapacityByCampaignIdByLogin">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getCapacityByCampaignIdByLogin">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getCapacityByCampaignIdByLoginResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSummaryAllocationInfoByPlacementIdsTyped">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getSummaryAllocationInfoByPlacementIdsTyped">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getSummaryAllocationInfoByPlacementIdsTypedResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addIMSOverrideForPlacement">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="addIMSOverrideForPlacement">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="addIMSOverrideForPlacementResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAvailsByCampaignId">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getAvailsByCampaignId">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getAvailsByCampaignIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeIMSOverrideFromPlacement">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="removeIMSOverrideFromPlacement">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="removeIMSOverrideFromPlacementResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getIMSOverrideDataByPlacementId">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getIMSOverrideDataByPlacementId">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getIMSOverrideDataByPlacementIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSImsClientFunctions_v6Service">
    <wsdl:port binding="tns:WSImsClientFunctions_v6ServiceSoapBinding" name="WSImsClientFunctions_v6Port">
      <soap:address location="http://ws-api.adtech.de/WSImsClientFunctions_v6"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>