conf/wsdlRepository/WSSalesTransactionAdmin.wsdl

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://SalesTransactionManagement.lowLevel.helios.webservices.adtech.de/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns4="http://schemas.xmlsoap.org/soap/http" xmlns:ns3="http://SalesTransactionManagement.helios.adtech.de/" xmlns:ns2="http://helios.adtech.de/" xmlns:ns1="http://security.lowLevel.helios.webservices.adtech.de/" name="WSSalesTransactionAdminService" targetNamespace="http://SalesTransactionManagement.lowLevel.helios.webservices.adtech.de/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://helios.adtech.de/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://helios.adtech.de/">
<xs:complexType name="BoolExpression">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="expressions" nillable="true" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AttributeOperatorValueExpression">
<xs:complexContent>
<xs:extension base="tns:BoolExpression">
<xs:sequence>
<xs:element name="attribute" nillable="true" type="xs:string"></xs:element>
<xs:element name="operator" nillable="true" type="xs:string"></xs:element>
<xs:element name="value" nillable="true" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="Wrapper">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="value" nillable="true" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ANDExpression">
<xs:complexContent>
<xs:extension base="tns:BoolExpression">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ORExpression">
<xs:complexContent>
<xs:extension base="tns:BoolExpression">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="QueryOrderParameter">
<xs:sequence>
<xs:element name="order" nillable="true" type="xs:string"></xs:element>
<xs:element name="propertyName" nillable="true" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NOTExpression">
<xs:complexContent>
<xs:extension base="tns:BoolExpression">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="HeliosPersistenceException" type="tns:HeliosPersistenceException"></xs:element>
<xs:complexType name="HeliosPersistenceException">
<xs:sequence>
<xs:element name="errorCause" nillable="true" type="xs:int"></xs:element>
<xs:element name="errorLevel" nillable="true" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://SalesTransactionManagement.lowLevel.helios.webservices.adtech.de/" xmlns:ns2="http://helios.adtech.de/" xmlns:ns1="http://SalesTransactionManagement.helios.adtech.de/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://SalesTransactionManagement.lowLevel.helios.webservices.adtech.de/">
<xs:import namespace="http://SalesTransactionManagement.helios.adtech.de/"></xs:import>
<xs:import namespace="http://helios.adtech.de/"></xs:import>
<xs:element name="gaove" type="tns:gaove"></xs:element>
<xs:element name="gaoveResponse" type="tns:gaoveResponse"></xs:element>
<xs:element name="getRawPostClickNetworkList" type="tns:getRawPostClickNetworkList"></xs:element>
<xs:element name="getRawPostClickNetworkListByAdvertiserExtId" type="tns:getRawPostClickNetworkListByAdvertiserExtId"></xs:element>
<xs:element name="getRawPostClickNetworkListByAdvertiserExtIdResponse" type="tns:getRawPostClickNetworkListByAdvertiserExtIdResponse"></xs:element>
<xs:element name="getRawPostClickNetworkListByAdvertiserId" type="tns:getRawPostClickNetworkListByAdvertiserId"></xs:element>
<xs:element name="getRawPostClickNetworkListByAdvertiserId1" type="tns:getRawPostClickNetworkListByAdvertiserId1"></xs:element>
<xs:element name="getRawPostClickNetworkListByAdvertiserId1Response" type="tns:getRawPostClickNetworkListByAdvertiserId1Response"></xs:element>
<xs:element name="getRawPostClickNetworkListByAdvertiserIdResponse" type="tns:getRawPostClickNetworkListByAdvertiserIdResponse"></xs:element>
<xs:element name="getRawPostClickNetworkListResponse" type="tns:getRawPostClickNetworkListResponse"></xs:element>
<xs:element name="getRawPostClickNetworkListSize" type="tns:getRawPostClickNetworkListSize"></xs:element>
<xs:element name="getRawPostClickNetworkListSizeResponse" type="tns:getRawPostClickNetworkListSizeResponse"></xs:element>
<xs:element name="updateRawPostClickNetwork" type="tns:updateRawPostClickNetwork"></xs:element>
<xs:element name="updateRawPostClickNetworkByLogin" type="tns:updateRawPostClickNetworkByLogin"></xs:element>
<xs:element name="updateRawPostClickNetworkByLoginResponse" type="tns:updateRawPostClickNetworkByLoginResponse"></xs:element>
<xs:element name="updateRawPostClickNetworkResponse" type="tns:updateRawPostClickNetworkResponse"></xs:element>
<xs:complexType name="getRawPostClickNetworkListByAdvertiserId">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="xs:anyType"></xs:element>
<xs:element minOccurs="0" name="arg3" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRawPostClickNetworkListByAdvertiserIdResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:RawPostClickNetwork"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRawPostClickNetworkListByAdvertiserExtId">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="xs:anyType"></xs:element>
<xs:element minOccurs="0" name="arg3" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRawPostClickNetworkListByAdvertiserExtIdResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:RawPostClickNetwork"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateRawPostClickNetwork">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns1:RawPostClickNetwork"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateRawPostClickNetworkResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:RawPostClickNetwork"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRawPostClickNetworkList">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg2" type="ns2:BoolExpression"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRawPostClickNetworkListResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:RawPostClickNetwork"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRawPostClickNetworkListSize">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:BoolExpression"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRawPostClickNetworkListSizeResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateRawPostClickNetworkByLogin">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns1:RawPostClickNetwork"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="arg2" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateRawPostClickNetworkByLoginResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:RawPostClickNetwork"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRawPostClickNetworkListByAdvertiserId1">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg2" type="ns2:BoolExpression"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="xs:anyType"></xs:element>
<xs:element minOccurs="0" name="arg4" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRawPostClickNetworkListByAdvertiserId1Response">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:RawPostClickNetwork"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="gaove">
<xs:sequence></xs:sequence>
</xs:complexType>
<xs:complexType name="gaoveResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:AttributeOperatorValueExpression"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="CustomerManagementException" type="tns:CustomerManagementException"></xs:element>
<xs:complexType name="CustomerManagementException">
<xs:sequence>
<xs:element name="errorCause" nillable="true" type="xs:int"></xs:element>
<xs:element name="errorLevel" nillable="true" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"></xs:element>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://SalesTransactionManagement.helios.adtech.de/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://SalesTransactionManagement.helios.adtech.de/">
<xs:complexType name="RawPostClickNetwork">
<xs:sequence>
<xs:element name="actionType" nillable="true" type="xs:byte"></xs:element>
<xs:element name="bannerId" nillable="true" type="xs:int"></xs:element>
<xs:element name="beaconId" nillable="true" type="xs:int"></xs:element>
<xs:element name="campaignId" nillable="true" type="xs:int"></xs:element>
<xs:element name="comment" nillable="true" type="xs:string"></xs:element>
<xs:element name="custom1" nillable="true" type="xs:string"></xs:element>
<xs:element name="custom2" nillable="true" type="xs:string"></xs:element>
<xs:element name="custom3" nillable="true" type="xs:string"></xs:element>
<xs:element name="custom4" nillable="true" type="xs:string"></xs:element>
<xs:element name="custom5" nillable="true" type="xs:string"></xs:element>
<xs:element name="date" nillable="true" type="xs:int"></xs:element>
<xs:element name="hour" nillable="true" type="xs:byte"></xs:element>
<xs:element name="id" nillable="true" type="xs:long"></xs:element>
<xs:element name="masterCampaign" nillable="true" type="xs:int"></xs:element>
<xs:element name="minute" nillable="true" type="xs:byte"></xs:element>
<xs:element name="networkPlacementId" nillable="true" type="xs:short"></xs:element>
<xs:element name="numClicks" nillable="true" type="xs:int"></xs:element>
<xs:element name="numViews" nillable="true" type="xs:int"></xs:element>
<xs:element name="placementId" nillable="true" type="xs:int"></xs:element>
<xs:element name="salesCategory" nillable="true" type="xs:string"></xs:element>
<xs:element name="salesDate" nillable="true" type="xs:int"></xs:element>
<xs:element name="salesId" nillable="true" type="xs:string"></xs:element>
<xs:element name="salesValue" nillable="true" type="xs:int"></xs:element>
<xs:element name="second" nillable="true" type="xs:byte"></xs:element>
<xs:element name="status" nillable="true" type="xs:byte"></xs:element>
<xs:element name="subNetworkPlacementId" nillable="true" type="xs:short"></xs:element>
<xs:element name="timeAfter" nillable="true" type="xs:int"></xs:element>
<xs:element name="userId" nillable="true" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="WSSalesTransactionAdminException" type="WSSalesTransactionAdminException"></xs:element>
<xs:complexType name="WSSalesTransactionAdminException">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://security.lowLevel.helios.webservices.adtech.de/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://security.lowLevel.helios.webservices.adtech.de/">
<xsd:element name="SecurityException" type="tns:SecurityException"></xsd:element>
<xsd:complexType name="SecurityException">
<xsd:sequence></xsd:sequence>
</xsd:complexType>
</xsd:schema>

  </wsdl:types>
  <wsdl:message name="updateRawPostClickNetworkByLoginResponse">
    <wsdl:part element="tns:updateRawPostClickNetworkByLoginResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="gaoveResponse">
    <wsdl:part element="tns:gaoveResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRawPostClickNetworkListSize">
    <wsdl:part element="tns:getRawPostClickNetworkListSize" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRawPostClickNetworkListByAdvertiserExtId">
    <wsdl:part element="tns:getRawPostClickNetworkListByAdvertiserExtId" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRawPostClickNetworkListByAdvertiserExtIdResponse">
    <wsdl:part element="tns:getRawPostClickNetworkListByAdvertiserExtIdResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRawPostClickNetworkListSizeResponse">
    <wsdl:part element="tns:getRawPostClickNetworkListSizeResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateRawPostClickNetworkByLogin">
    <wsdl:part element="tns:updateRawPostClickNetworkByLogin" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CustomerManagementException">
    <wsdl:part element="tns:CustomerManagementException" name="CustomerManagementException"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="gaove">
    <wsdl:part element="tns:gaove" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRawPostClickNetworkList">
    <wsdl:part element="tns:getRawPostClickNetworkList" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRawPostClickNetworkListByAdvertiserId1Response">
    <wsdl:part element="tns:getRawPostClickNetworkListByAdvertiserId1Response" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRawPostClickNetworkListResponse">
    <wsdl:part element="tns:getRawPostClickNetworkListResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateRawPostClickNetworkResponse">
    <wsdl:part element="tns:updateRawPostClickNetworkResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRawPostClickNetworkListByAdvertiserId">
    <wsdl:part element="tns:getRawPostClickNetworkListByAdvertiserId" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRawPostClickNetworkListByAdvertiserId1">
    <wsdl:part element="tns:getRawPostClickNetworkListByAdvertiserId1" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="SecurityException">
    <wsdl:part element="ns1:SecurityException" name="SecurityException"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="WSSalesTransactionAdminException">
    <wsdl:part element="ns3:WSSalesTransactionAdminException" name="WSSalesTransactionAdminException"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateRawPostClickNetwork">
    <wsdl:part element="tns:updateRawPostClickNetwork" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRawPostClickNetworkListByAdvertiserIdResponse">
    <wsdl:part element="tns:getRawPostClickNetworkListByAdvertiserIdResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="HeliosPersistenceException">
    <wsdl:part element="ns2:HeliosPersistenceException" name="HeliosPersistenceException"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WSSalesTransactionAdmin">
    <wsdl:operation name="getRawPostClickNetworkListByAdvertiserId">
      <wsdl:input message="tns:getRawPostClickNetworkListByAdvertiserId" name="getRawPostClickNetworkListByAdvertiserId"></wsdl:input>
      <wsdl:output message="tns:getRawPostClickNetworkListByAdvertiserIdResponse" name="getRawPostClickNetworkListByAdvertiserIdResponse"></wsdl:output>
      <wsdl:fault message="tns:HeliosPersistenceException" name="HeliosPersistenceException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
      <wsdl:fault message="tns:CustomerManagementException" name="CustomerManagementException"></wsdl:fault>
      <wsdl:fault message="tns:WSSalesTransactionAdminException" name="WSSalesTransactionAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRawPostClickNetworkListByAdvertiserExtId">
      <wsdl:input message="tns:getRawPostClickNetworkListByAdvertiserExtId" name="getRawPostClickNetworkListByAdvertiserExtId"></wsdl:input>
      <wsdl:output message="tns:getRawPostClickNetworkListByAdvertiserExtIdResponse" name="getRawPostClickNetworkListByAdvertiserExtIdResponse"></wsdl:output>
      <wsdl:fault message="tns:HeliosPersistenceException" name="HeliosPersistenceException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
      <wsdl:fault message="tns:CustomerManagementException" name="CustomerManagementException"></wsdl:fault>
      <wsdl:fault message="tns:WSSalesTransactionAdminException" name="WSSalesTransactionAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateRawPostClickNetwork">
      <wsdl:input message="tns:updateRawPostClickNetwork" name="updateRawPostClickNetwork"></wsdl:input>
      <wsdl:output message="tns:updateRawPostClickNetworkResponse" name="updateRawPostClickNetworkResponse"></wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRawPostClickNetworkList">
      <wsdl:input message="tns:getRawPostClickNetworkList" name="getRawPostClickNetworkList"></wsdl:input>
      <wsdl:output message="tns:getRawPostClickNetworkListResponse" name="getRawPostClickNetworkListResponse"></wsdl:output>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
      <wsdl:fault message="tns:WSSalesTransactionAdminException" name="WSSalesTransactionAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRawPostClickNetworkListSize">
      <wsdl:input message="tns:getRawPostClickNetworkListSize" name="getRawPostClickNetworkListSize"></wsdl:input>
      <wsdl:output message="tns:getRawPostClickNetworkListSizeResponse" name="getRawPostClickNetworkListSizeResponse"></wsdl:output>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
      <wsdl:fault message="tns:WSSalesTransactionAdminException" name="WSSalesTransactionAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateRawPostClickNetworkByLogin">
      <wsdl:input message="tns:updateRawPostClickNetworkByLogin" name="updateRawPostClickNetworkByLogin"></wsdl:input>
      <wsdl:output message="tns:updateRawPostClickNetworkByLoginResponse" name="updateRawPostClickNetworkByLoginResponse"></wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRawPostClickNetworkListByAdvertiserId1">
      <wsdl:input message="tns:getRawPostClickNetworkListByAdvertiserId1" name="getRawPostClickNetworkListByAdvertiserId1"></wsdl:input>
      <wsdl:output message="tns:getRawPostClickNetworkListByAdvertiserId1Response" name="getRawPostClickNetworkListByAdvertiserId1Response"></wsdl:output>
      <wsdl:fault message="tns:HeliosPersistenceException" name="HeliosPersistenceException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
      <wsdl:fault message="tns:CustomerManagementException" name="CustomerManagementException"></wsdl:fault>
      <wsdl:fault message="tns:WSSalesTransactionAdminException" name="WSSalesTransactionAdminException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="gaove">
      <wsdl:input message="tns:gaove" name="gaove"></wsdl:input>
      <wsdl:output message="tns:gaoveResponse" name="gaoveResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSSalesTransactionAdminServiceSoapBinding" type="tns:WSSalesTransactionAdmin">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="getRawPostClickNetworkListByAdvertiserId">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getRawPostClickNetworkListByAdvertiserId">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getRawPostClickNetworkListByAdvertiserIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="HeliosPersistenceException">
        <soap:fault name="HeliosPersistenceException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="CustomerManagementException">
        <soap:fault name="CustomerManagementException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="WSSalesTransactionAdminException">
        <soap:fault name="WSSalesTransactionAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRawPostClickNetworkListByAdvertiserExtId">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getRawPostClickNetworkListByAdvertiserExtId">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getRawPostClickNetworkListByAdvertiserExtIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="HeliosPersistenceException">
        <soap:fault name="HeliosPersistenceException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="CustomerManagementException">
        <soap:fault name="CustomerManagementException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="WSSalesTransactionAdminException">
        <soap:fault name="WSSalesTransactionAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRawPostClickNetworkList">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getRawPostClickNetworkList">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getRawPostClickNetworkListResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="WSSalesTransactionAdminException">
        <soap:fault name="WSSalesTransactionAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateRawPostClickNetwork">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="updateRawPostClickNetwork">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="updateRawPostClickNetworkResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRawPostClickNetworkListSize">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getRawPostClickNetworkListSize">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getRawPostClickNetworkListSizeResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="WSSalesTransactionAdminException">
        <soap:fault name="WSSalesTransactionAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="gaove">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="gaove">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="gaoveResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRawPostClickNetworkListByAdvertiserId1">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getRawPostClickNetworkListByAdvertiserId1">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getRawPostClickNetworkListByAdvertiserId1Response">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="HeliosPersistenceException">
        <soap:fault name="HeliosPersistenceException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="CustomerManagementException">
        <soap:fault name="CustomerManagementException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="WSSalesTransactionAdminException">
        <soap:fault name="WSSalesTransactionAdminException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateRawPostClickNetworkByLogin">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="updateRawPostClickNetworkByLogin">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="updateRawPostClickNetworkByLoginResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSSalesTransactionAdminService">
    <wsdl:port binding="tns:WSSalesTransactionAdminServiceSoapBinding" name="WSSalesTransactionAdminPort">
      <soap:address location="http://ws-api.adtech.de/WSSalesTransactionAdmin"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>