conf/wsdlRepository/WSSimpleTypesAdmin.wsdl

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://SimpleTypesManagement.lowLevel.helios.webservices.adtech.de/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns3="http://schemas.xmlsoap.org/soap/http" xmlns:ns2="http://SimpleTypesManagement.helios.adtech.de" xmlns:ns1="http://security.lowLevel.helios.webservices.adtech.de/" name="WSSimpleTypesAdminService" targetNamespace="http://SimpleTypesManagement.lowLevel.helios.webservices.adtech.de/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://helios.adtech.de/" elementFormDefault="qualified" targetNamespace="http://helios.adtech.de/" version="1.0">
<xs:complexType name="Wrapper">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="value" nillable="true" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ANDExpression">
<xs:complexContent>
<xs:extension base="tns:BoolExpression">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="BoolExpression">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="expressions" nillable="true" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NOTExpression">
<xs:complexContent>
<xs:extension base="tns:BoolExpression">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ORExpression">
<xs:complexContent>
<xs:extension base="tns:BoolExpression">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="QueryOrderParameter">
<xs:sequence>
<xs:element name="order" nillable="true" type="xs:string"></xs:element>
<xs:element name="propertyName" nillable="true" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://SimpleTypesManagement.lowLevel.helios.webservices.adtech.de/" xmlns:ns1="http://SimpleTypesManagement.helios.adtech.de" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://SimpleTypesManagement.lowLevel.helios.webservices.adtech.de/">
<xs:import namespace="http://SimpleTypesManagement.helios.adtech.de"></xs:import>
<xs:element name="getOnlineTargetingOptions" type="tns:getOnlineTargetingOptions"></xs:element>
<xs:element name="getOnlineTargetingOptionsResponse" type="tns:getOnlineTargetingOptionsResponse"></xs:element>
<xs:complexType name="getOnlineTargetingOptions">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getOnlineTargetingOptionsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:SimpleTypeDef"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://SimpleTypesManagement.helios.adtech.de" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://SimpleTypesManagement.helios.adtech.de">
<xs:complexType name="SimpleTypeDef">
<xs:sequence></xs:sequence>
</xs:complexType>
<xs:element name="WSSimpleTypesAdminException" type="WSSimpleTypesAdminException"></xs:element>
<xs:complexType name="WSSimpleTypesAdminException">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://security.lowLevel.helios.webservices.adtech.de/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://security.lowLevel.helios.webservices.adtech.de/">
<xsd:element name="SecurityException" type="tns:SecurityException"></xsd:element>
<xsd:complexType name="SecurityException">
<xsd:sequence></xsd:sequence>
</xsd:complexType>
</xsd:schema>

  </wsdl:types>
  <wsdl:message name="getOnlineTargetingOptionsResponse">
    <wsdl:part element="tns:getOnlineTargetingOptionsResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="WSSimpleTypesAdminException">
    <wsdl:part element="ns2:WSSimpleTypesAdminException" name="WSSimpleTypesAdminException"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="SecurityException">
    <wsdl:part element="ns1:SecurityException" name="SecurityException"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOnlineTargetingOptions">
    <wsdl:part element="tns:getOnlineTargetingOptions" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WSSimpleTypesAdmin">
    <wsdl:operation name="getOnlineTargetingOptions">
      <wsdl:input message="tns:getOnlineTargetingOptions" name="getOnlineTargetingOptions"></wsdl:input>
      <wsdl:output message="tns:getOnlineTargetingOptionsResponse" name="getOnlineTargetingOptionsResponse"></wsdl:output>
      <wsdl:fault message="tns:WSSimpleTypesAdminException" name="WSSimpleTypesAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSSimpleTypesAdminServiceSoapBinding" type="tns:WSSimpleTypesAdmin">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="getOnlineTargetingOptions">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getOnlineTargetingOptions">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getOnlineTargetingOptionsResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSSimpleTypesAdminException">
        <soap:fault name="WSSimpleTypesAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSSimpleTypesAdminService">
    <wsdl:port binding="tns:WSSimpleTypesAdminServiceSoapBinding" name="WSSimpleTypesAdminPort">
      <soap:address location="http://ws-api.adtech.de/WSSimpleTypesAdmin"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>