conf/wsdlRepository/WSUserAdmin_v3.wsdl

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://UserManagement_v3.lowLevel.helios.webservices.adtech.de/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns4="http://schemas.xmlsoap.org/soap/http" xmlns:ns3="http://helios.adtech.de/" xmlns:ns2="http://UserManagement.helios.adtech.de/" xmlns:ns1="http://security.lowLevel.helios.webservices.adtech.de/" name="WSUserAdmin_v3Service" targetNamespace="http://UserManagement_v3.lowLevel.helios.webservices.adtech.de/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://helios.adtech.de/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://helios.adtech.de/">
<xs:complexType name="BoolExpression">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="expressions" nillable="true" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="QueryOrderParameter">
<xs:sequence>
<xs:element name="order" nillable="true" type="xs:string"></xs:element>
<xs:element name="propertyName" nillable="true" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ANDExpression">
<xs:complexContent>
<xs:extension base="tns:BoolExpression">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="AttributeOperatorValueExpression">
<xs:complexContent>
<xs:extension base="tns:BoolExpression">
<xs:sequence>
<xs:element name="attribute" nillable="true" type="xs:string"></xs:element>
<xs:element name="operator" nillable="true" type="xs:string"></xs:element>
<xs:element name="value" nillable="true" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="Wrapper">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="value" nillable="true" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ORExpression">
<xs:complexContent>
<xs:extension base="tns:BoolExpression">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="NOTExpression">
<xs:complexContent>
<xs:extension base="tns:BoolExpression">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="HeliosException" type="tns:HeliosException"></xs:element>
<xs:complexType name="HeliosException">
<xs:sequence>
<xs:element name="errorCause" nillable="true" type="xs:int"></xs:element>
<xs:element name="errorLevel" nillable="true" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://UserManagement_v3.lowLevel.helios.webservices.adtech.de/" xmlns:ns2="http://UserManagement.helios.adtech.de/" xmlns:ns1="http://helios.adtech.de/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://UserManagement_v3.lowLevel.helios.webservices.adtech.de/">
<xs:import namespace="http://helios.adtech.de/"></xs:import>
<xs:import namespace="http://UserManagement.helios.adtech.de/"></xs:import>
<xs:element name="createContactData" type="tns:createContactData"></xs:element>
<xs:element name="createContactDataByLogin" type="tns:createContactDataByLogin"></xs:element>
<xs:element name="createContactDataByLoginResponse" type="tns:createContactDataByLoginResponse"></xs:element>
<xs:element name="createContactDataResponse" type="tns:createContactDataResponse"></xs:element>
<xs:element name="getAE" type="tns:getAE"></xs:element>
<xs:element name="getAEResponse" type="tns:getAEResponse"></xs:element>
<xs:element name="getAOVE" type="tns:getAOVE"></xs:element>
<xs:element name="getAOVEResponse" type="tns:getAOVEResponse"></xs:element>
<xs:element name="getContactDataById" type="tns:getContactDataById"></xs:element>
<xs:element name="getContactDataByIdByLogin" type="tns:getContactDataByIdByLogin"></xs:element>
<xs:element name="getContactDataByIdByLoginResponse" type="tns:getContactDataByIdByLoginResponse"></xs:element>
<xs:element name="getContactDataByIdResponse" type="tns:getContactDataByIdResponse"></xs:element>
<xs:element name="getContactDataList" type="tns:getContactDataList"></xs:element>
<xs:element name="getContactDataListByLogin" type="tns:getContactDataListByLogin"></xs:element>
<xs:element name="getContactDataListByLoginResponse" type="tns:getContactDataListByLoginResponse"></xs:element>
<xs:element name="getContactDataListResponse" type="tns:getContactDataListResponse"></xs:element>
<xs:element name="getContactDataListSize" type="tns:getContactDataListSize"></xs:element>
<xs:element name="getContactDataListSizeResponse" type="tns:getContactDataListSizeResponse"></xs:element>
<xs:element name="getQOP" type="tns:getQOP"></xs:element>
<xs:element name="getQOPResponse" type="tns:getQOPResponse"></xs:element>
<xs:element name="getTeamById" type="tns:getTeamById"></xs:element>
<xs:element name="getTeamByIdByLogin" type="tns:getTeamByIdByLogin"></xs:element>
<xs:element name="getTeamByIdByLoginResponse" type="tns:getTeamByIdByLoginResponse"></xs:element>
<xs:element name="getTeamByIdResponse" type="tns:getTeamByIdResponse"></xs:element>
<xs:element name="getTeamIdList" type="tns:getTeamIdList"></xs:element>
<xs:element name="getTeamIdListByLogin" type="tns:getTeamIdListByLogin"></xs:element>
<xs:element name="getTeamIdListByLoginResponse" type="tns:getTeamIdListByLoginResponse"></xs:element>
<xs:element name="getTeamIdListResponse" type="tns:getTeamIdListResponse"></xs:element>
<xs:element name="getTeamList" type="tns:getTeamList"></xs:element>
<xs:element name="getTeamListByLogin" type="tns:getTeamListByLogin"></xs:element>
<xs:element name="getTeamListByLoginResponse" type="tns:getTeamListByLoginResponse"></xs:element>
<xs:element name="getTeamListResponse" type="tns:getTeamListResponse"></xs:element>
<xs:element name="getTeamListSize" type="tns:getTeamListSize"></xs:element>
<xs:element name="getTeamListSizeByLogin" type="tns:getTeamListSizeByLogin"></xs:element>
<xs:element name="getTeamListSizeByLoginResponse" type="tns:getTeamListSizeByLoginResponse"></xs:element>
<xs:element name="getTeamListSizeResponse" type="tns:getTeamListSizeResponse"></xs:element>
<xs:element name="getUserEntityByExtId" type="tns:getUserEntityByExtId"></xs:element>
<xs:element name="getUserEntityByExtIdByLogin" type="tns:getUserEntityByExtIdByLogin"></xs:element>
<xs:element name="getUserEntityByExtIdByLoginResponse" type="tns:getUserEntityByExtIdByLoginResponse"></xs:element>
<xs:element name="getUserEntityByExtIdResponse" type="tns:getUserEntityByExtIdResponse"></xs:element>
<xs:element name="getUserEntityById" type="tns:getUserEntityById"></xs:element>
<xs:element name="getUserEntityByIdByLogin" type="tns:getUserEntityByIdByLogin"></xs:element>
<xs:element name="getUserEntityByIdByLoginResponse" type="tns:getUserEntityByIdByLoginResponse"></xs:element>
<xs:element name="getUserEntityByIdResponse" type="tns:getUserEntityByIdResponse"></xs:element>
<xs:element name="getUserEntityByLogin" type="tns:getUserEntityByLogin"></xs:element>
<xs:element name="getUserEntityByLoginResponse" type="tns:getUserEntityByLoginResponse"></xs:element>
<xs:element name="getUserEntityIdList" type="tns:getUserEntityIdList"></xs:element>
<xs:element name="getUserEntityIdListByLogin" type="tns:getUserEntityIdListByLogin"></xs:element>
<xs:element name="getUserEntityIdListByLoginResponse" type="tns:getUserEntityIdListByLoginResponse"></xs:element>
<xs:element name="getUserEntityIdListResponse" type="tns:getUserEntityIdListResponse"></xs:element>
<xs:element name="getUserEntityList" type="tns:getUserEntityList"></xs:element>
<xs:element name="getUserEntityListByLogin" type="tns:getUserEntityListByLogin"></xs:element>
<xs:element name="getUserEntityListByLoginResponse" type="tns:getUserEntityListByLoginResponse"></xs:element>
<xs:element name="getUserEntityListResponse" type="tns:getUserEntityListResponse"></xs:element>
<xs:element name="getUserEntityListSize" type="tns:getUserEntityListSize"></xs:element>
<xs:element name="getUserEntityListSizeResponse" type="tns:getUserEntityListSizeResponse"></xs:element>
<xs:element name="updateContactData" type="tns:updateContactData"></xs:element>
<xs:element name="updateContactDataByLogin" type="tns:updateContactDataByLogin"></xs:element>
<xs:element name="updateContactDataByLoginResponse" type="tns:updateContactDataByLoginResponse"></xs:element>
<xs:element name="updateContactDataResponse" type="tns:updateContactDataResponse"></xs:element>
<xs:element name="updateUserEntity" type="tns:updateUserEntity"></xs:element>
<xs:element name="updateUserEntityResponse" type="tns:updateUserEntityResponse"></xs:element>
<xs:complexType name="getUserEntityListSize">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns1:BoolExpression"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserEntityListSizeResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTeamListSizeByLogin">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns1:BoolExpression"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="arg2" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTeamListSizeByLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTeamByIdByLogin">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="arg2" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTeamByIdByLoginResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:Team"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTeamList">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg2" type="ns1:BoolExpression"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTeamListResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:Team"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getQOP">
<xs:sequence></xs:sequence>
</xs:complexType>
<xs:complexType name="getQOPResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:QueryOrderParameter"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserEntityListByLogin">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg2" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="arg3" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserEntityListByLoginResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:UserEntity"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserEntityById">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserEntityByIdResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:UserEntity"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getContactDataList">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg2" type="ns1:BoolExpression"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getContactDataListResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:ContactData"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserEntityList">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg2" type="ns1:BoolExpression"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserEntityListResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:UserEntity"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserEntityByLogin">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserEntityByLoginResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:UserEntity"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserEntityIdList">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg2" type="ns1:BoolExpression"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserEntityIdListResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAE">
<xs:sequence></xs:sequence>
</xs:complexType>
<xs:complexType name="getAEResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:BoolExpression"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserEntityByIdByLogin">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="arg2" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserEntityByIdByLoginResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:UserEntity"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createContactData">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:ContactData"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createContactDataResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:ContactData"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateUserEntity">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:UserEntity"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateUserEntityResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:UserEntity"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTeamListSize">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns1:BoolExpression"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTeamListSizeResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAOVE">
<xs:sequence></xs:sequence>
</xs:complexType>
<xs:complexType name="getAOVEResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:BoolExpression"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateContactData">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:ContactData"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateContactDataResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:ContactData"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getContactDataById">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getContactDataByIdResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:ContactData"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createContactDataByLogin">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:ContactData"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="arg2" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createContactDataByLoginResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:ContactData"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserEntityIdListByLogin">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg2" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="arg3" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserEntityIdListByLoginResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTeamIdListByLogin">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg2" type="ns1:BoolExpression"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="xs:anyType"></xs:element>
<xs:element minOccurs="0" name="arg4" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="arg5" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTeamIdListByLoginResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTeamById">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTeamByIdResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:Team"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getContactDataListByLogin">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg2" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="arg3" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getContactDataListByLoginResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:ContactData"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserEntityByExtIdByLogin">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="arg2" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserEntityByExtIdByLoginResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:UserEntity"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getContactDataListSize">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns1:BoolExpression"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getContactDataListSizeResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getContactDataByIdByLogin">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="arg2" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getContactDataByIdByLoginResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:ContactData"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTeamIdList">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg2" type="ns1:BoolExpression"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="xs:anyType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTeamIdListResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserEntityByExtId">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserEntityByExtIdResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:UserEntity"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateContactDataByLogin">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns2:ContactData"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="arg2" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateContactDataByLoginResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns2:ContactData"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTeamListByLogin">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg1" type="xs:long"></xs:element>
<xs:element minOccurs="0" name="arg2" type="ns1:BoolExpression"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="xs:anyType"></xs:element>
<xs:element minOccurs="0" name="arg4" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="arg5" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTeamListByLoginResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:Team"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://UserManagement.helios.adtech.de/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://UserManagement.helios.adtech.de/">
<xs:complexType name="Team">
<xs:sequence>
<xs:element name="id" nillable="true" type="xs:long"></xs:element>
<xs:element name="mainNetwork" nillable="true" type="xs:long"></xs:element>
<xs:element name="name" nillable="true" type="xs:string"></xs:element>
<xs:element name="subNetwork" nillable="true" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="UserEntity">
<xs:sequence>
<xs:element name="clientLanguange" nillable="true" type="xs:string"></xs:element>
<xs:element name="contact" nillable="true" type="tns:ContactData"></xs:element>
<xs:element name="description" nillable="true" type="xs:string"></xs:element>
<xs:element name="extId" nillable="true" type="xs:string"></xs:element>
<xs:element name="id" nillable="true" type="xs:long"></xs:element>
<xs:element name="lastLogin" nillable="true" type="xs:dateTime"></xs:element>
<xs:element name="loginName" nillable="true" type="xs:string"></xs:element>
<xs:element name="name" nillable="true" type="xs:string"></xs:element>
<xs:element name="reportLanguage" nillable="true" type="xs:string"></xs:element>
<xs:element name="status" nillable="true" type="tns:UserEntityStatus"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ContactData">
<xs:sequence>
<xs:element name="customerTerritory" nillable="true" type="xs:string"></xs:element>
<xs:element name="email" nillable="true" type="xs:string"></xs:element>
<xs:element name="fax" nillable="true" type="xs:string"></xs:element>
<xs:element name="firstName" nillable="true" type="xs:string"></xs:element>
<xs:element name="id" nillable="true" type="xs:long"></xs:element>
<xs:element name="lastName" nillable="true" type="xs:string"></xs:element>
<xs:element name="mobile" nillable="true" type="xs:string"></xs:element>
<xs:element name="phone" nillable="true" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="UserEntityStatus">
<xs:sequence>
<xs:element name="deleted" nillable="true" type="xs:boolean"></xs:element>
<xs:element name="description" nillable="true" type="xs:string"></xs:element>
<xs:element name="extId" nillable="true" type="xs:string"></xs:element>
<xs:element name="id" nillable="true" type="xs:long"></xs:element>
<xs:element name="name" nillable="true" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="WSUserAdminException" type="tns:WSUserAdminException"></xs:element>
<xs:complexType name="WSUserAdminException">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://security.lowLevel.helios.webservices.adtech.de/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://security.lowLevel.helios.webservices.adtech.de/">
<xsd:element name="SecurityException" type="tns:SecurityException"></xsd:element>
<xsd:complexType name="SecurityException">
<xsd:sequence></xsd:sequence>
</xsd:complexType>
</xsd:schema>

  </wsdl:types>
  <wsdl:message name="updateUserEntity">
    <wsdl:part element="tns:updateUserEntity" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserEntityByExtIdResponse">
    <wsdl:part element="tns:getUserEntityByExtIdResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContactDataById">
    <wsdl:part element="tns:getContactDataById" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContactDataByIdByLogin">
    <wsdl:part element="tns:getContactDataByIdByLogin" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserEntityByLogin">
    <wsdl:part element="tns:getUserEntityByLogin" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserEntityByExtId">
    <wsdl:part element="tns:getUserEntityByExtId" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContactDataListByLogin">
    <wsdl:part element="tns:getContactDataListByLogin" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTeamListByLoginResponse">
    <wsdl:part element="tns:getTeamListByLoginResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTeamListSize">
    <wsdl:part element="tns:getTeamListSize" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAOVEResponse">
    <wsdl:part element="tns:getAOVEResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserEntityByExtIdByLogin">
    <wsdl:part element="tns:getUserEntityByExtIdByLogin" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateContactData">
    <wsdl:part element="tns:updateContactData" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTeamListSizeByLoginResponse">
    <wsdl:part element="tns:getTeamListSizeByLoginResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserEntityById">
    <wsdl:part element="tns:getUserEntityById" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createContactDataByLogin">
    <wsdl:part element="tns:createContactDataByLogin" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserEntityListResponse">
    <wsdl:part element="tns:getUserEntityListResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserEntityResponse">
    <wsdl:part element="tns:updateUserEntityResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserEntityByIdResponse">
    <wsdl:part element="tns:getUserEntityByIdResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContactDataByIdResponse">
    <wsdl:part element="tns:getContactDataByIdResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="SecurityException">
    <wsdl:part element="ns1:SecurityException" name="SecurityException"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateContactDataResponse">
    <wsdl:part element="tns:updateContactDataResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTeamListResponse">
    <wsdl:part element="tns:getTeamListResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createContactDataByLoginResponse">
    <wsdl:part element="tns:createContactDataByLoginResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserEntityListByLoginResponse">
    <wsdl:part element="tns:getUserEntityListByLoginResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createContactData">
    <wsdl:part element="tns:createContactData" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserEntityListByLogin">
    <wsdl:part element="tns:getUserEntityListByLogin" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContactDataList">
    <wsdl:part element="tns:getContactDataList" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContactDataListResponse">
    <wsdl:part element="tns:getContactDataListResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserEntityIdListByLoginResponse">
    <wsdl:part element="tns:getUserEntityIdListByLoginResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="WSUserAdminException">
    <wsdl:part element="ns2:WSUserAdminException" name="WSUserAdminException"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserEntityByIdByLoginResponse">
    <wsdl:part element="tns:getUserEntityByIdByLoginResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContactDataByIdByLoginResponse">
    <wsdl:part element="tns:getContactDataByIdByLoginResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTeamListSizeByLogin">
    <wsdl:part element="tns:getTeamListSizeByLogin" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAEResponse">
    <wsdl:part element="tns:getAEResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContactDataListSize">
    <wsdl:part element="tns:getContactDataListSize" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTeamByIdResponse">
    <wsdl:part element="tns:getTeamByIdResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserEntityByLoginResponse">
    <wsdl:part element="tns:getUserEntityByLoginResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserEntityByExtIdByLoginResponse">
    <wsdl:part element="tns:getUserEntityByExtIdByLoginResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAOVE">
    <wsdl:part element="tns:getAOVE" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserEntityIdList">
    <wsdl:part element="tns:getUserEntityIdList" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserEntityIdListResponse">
    <wsdl:part element="tns:getUserEntityIdListResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createContactDataResponse">
    <wsdl:part element="tns:createContactDataResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTeamList">
    <wsdl:part element="tns:getTeamList" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserEntityListSizeResponse">
    <wsdl:part element="tns:getUserEntityListSizeResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQOP">
    <wsdl:part element="tns:getQOP" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContactDataListByLoginResponse">
    <wsdl:part element="tns:getContactDataListByLoginResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTeamIdListByLogin">
    <wsdl:part element="tns:getTeamIdListByLogin" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQOPResponse">
    <wsdl:part element="tns:getQOPResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserEntityListSize">
    <wsdl:part element="tns:getUserEntityListSize" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTeamIdListResponse">
    <wsdl:part element="tns:getTeamIdListResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTeamIdList">
    <wsdl:part element="tns:getTeamIdList" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTeamListSizeResponse">
    <wsdl:part element="tns:getTeamListSizeResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTeamById">
    <wsdl:part element="tns:getTeamById" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTeamByIdByLogin">
    <wsdl:part element="tns:getTeamByIdByLogin" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateContactDataByLoginResponse">
    <wsdl:part element="tns:updateContactDataByLoginResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContactDataListSizeResponse">
    <wsdl:part element="tns:getContactDataListSizeResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserEntityByIdByLogin">
    <wsdl:part element="tns:getUserEntityByIdByLogin" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTeamListByLogin">
    <wsdl:part element="tns:getTeamListByLogin" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="HeliosException">
    <wsdl:part element="ns3:HeliosException" name="HeliosException"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTeamIdListByLoginResponse">
    <wsdl:part element="tns:getTeamIdListByLoginResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserEntityIdListByLogin">
    <wsdl:part element="tns:getUserEntityIdListByLogin" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAE">
    <wsdl:part element="tns:getAE" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTeamByIdByLoginResponse">
    <wsdl:part element="tns:getTeamByIdByLoginResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateContactDataByLogin">
    <wsdl:part element="tns:updateContactDataByLogin" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserEntityList">
    <wsdl:part element="tns:getUserEntityList" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WSUserAdmin_v3">
    <wsdl:operation name="getUserEntityListSize">
      <wsdl:input message="tns:getUserEntityListSize" name="getUserEntityListSize"></wsdl:input>
      <wsdl:output message="tns:getUserEntityListSizeResponse" name="getUserEntityListSizeResponse"></wsdl:output>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTeamListSizeByLogin">
      <wsdl:input message="tns:getTeamListSizeByLogin" name="getTeamListSizeByLogin"></wsdl:input>
      <wsdl:output message="tns:getTeamListSizeByLoginResponse" name="getTeamListSizeByLoginResponse"></wsdl:output>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTeamByIdByLogin">
      <wsdl:input message="tns:getTeamByIdByLogin" name="getTeamByIdByLogin"></wsdl:input>
      <wsdl:output message="tns:getTeamByIdByLoginResponse" name="getTeamByIdByLoginResponse"></wsdl:output>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTeamList">
      <wsdl:input message="tns:getTeamList" name="getTeamList"></wsdl:input>
      <wsdl:output message="tns:getTeamListResponse" name="getTeamListResponse"></wsdl:output>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getQOP">
      <wsdl:input message="tns:getQOP" name="getQOP"></wsdl:input>
      <wsdl:output message="tns:getQOPResponse" name="getQOPResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserEntityListByLogin">
      <wsdl:input message="tns:getUserEntityListByLogin" name="getUserEntityListByLogin"></wsdl:input>
      <wsdl:output message="tns:getUserEntityListByLoginResponse" name="getUserEntityListByLoginResponse"></wsdl:output>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserEntityById">
      <wsdl:input message="tns:getUserEntityById" name="getUserEntityById"></wsdl:input>
      <wsdl:output message="tns:getUserEntityByIdResponse" name="getUserEntityByIdResponse"></wsdl:output>
      <wsdl:fault message="tns:HeliosException" name="HeliosException"></wsdl:fault>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContactDataList">
      <wsdl:input message="tns:getContactDataList" name="getContactDataList"></wsdl:input>
      <wsdl:output message="tns:getContactDataListResponse" name="getContactDataListResponse"></wsdl:output>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserEntityList">
      <wsdl:input message="tns:getUserEntityList" name="getUserEntityList"></wsdl:input>
      <wsdl:output message="tns:getUserEntityListResponse" name="getUserEntityListResponse"></wsdl:output>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserEntityByLogin">
      <wsdl:input message="tns:getUserEntityByLogin" name="getUserEntityByLogin"></wsdl:input>
      <wsdl:output message="tns:getUserEntityByLoginResponse" name="getUserEntityByLoginResponse"></wsdl:output>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserEntityIdList">
      <wsdl:input message="tns:getUserEntityIdList" name="getUserEntityIdList"></wsdl:input>
      <wsdl:output message="tns:getUserEntityIdListResponse" name="getUserEntityIdListResponse"></wsdl:output>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAE">
      <wsdl:input message="tns:getAE" name="getAE"></wsdl:input>
      <wsdl:output message="tns:getAEResponse" name="getAEResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserEntityByIdByLogin">
      <wsdl:input message="tns:getUserEntityByIdByLogin" name="getUserEntityByIdByLogin"></wsdl:input>
      <wsdl:output message="tns:getUserEntityByIdByLoginResponse" name="getUserEntityByIdByLoginResponse"></wsdl:output>
      <wsdl:fault message="tns:HeliosException" name="HeliosException"></wsdl:fault>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createContactData">
      <wsdl:input message="tns:createContactData" name="createContactData"></wsdl:input>
      <wsdl:output message="tns:createContactDataResponse" name="createContactDataResponse"></wsdl:output>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateUserEntity">
      <wsdl:input message="tns:updateUserEntity" name="updateUserEntity"></wsdl:input>
      <wsdl:output message="tns:updateUserEntityResponse" name="updateUserEntityResponse"></wsdl:output>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTeamListSize">
      <wsdl:input message="tns:getTeamListSize" name="getTeamListSize"></wsdl:input>
      <wsdl:output message="tns:getTeamListSizeResponse" name="getTeamListSizeResponse"></wsdl:output>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAOVE">
      <wsdl:input message="tns:getAOVE" name="getAOVE"></wsdl:input>
      <wsdl:output message="tns:getAOVEResponse" name="getAOVEResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateContactData">
      <wsdl:input message="tns:updateContactData" name="updateContactData"></wsdl:input>
      <wsdl:output message="tns:updateContactDataResponse" name="updateContactDataResponse"></wsdl:output>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContactDataById">
      <wsdl:input message="tns:getContactDataById" name="getContactDataById"></wsdl:input>
      <wsdl:output message="tns:getContactDataByIdResponse" name="getContactDataByIdResponse"></wsdl:output>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createContactDataByLogin">
      <wsdl:input message="tns:createContactDataByLogin" name="createContactDataByLogin"></wsdl:input>
      <wsdl:output message="tns:createContactDataByLoginResponse" name="createContactDataByLoginResponse"></wsdl:output>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserEntityIdListByLogin">
      <wsdl:input message="tns:getUserEntityIdListByLogin" name="getUserEntityIdListByLogin"></wsdl:input>
      <wsdl:output message="tns:getUserEntityIdListByLoginResponse" name="getUserEntityIdListByLoginResponse"></wsdl:output>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTeamIdListByLogin">
      <wsdl:input message="tns:getTeamIdListByLogin" name="getTeamIdListByLogin"></wsdl:input>
      <wsdl:output message="tns:getTeamIdListByLoginResponse" name="getTeamIdListByLoginResponse"></wsdl:output>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTeamById">
      <wsdl:input message="tns:getTeamById" name="getTeamById"></wsdl:input>
      <wsdl:output message="tns:getTeamByIdResponse" name="getTeamByIdResponse"></wsdl:output>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContactDataListByLogin">
      <wsdl:input message="tns:getContactDataListByLogin" name="getContactDataListByLogin"></wsdl:input>
      <wsdl:output message="tns:getContactDataListByLoginResponse" name="getContactDataListByLoginResponse"></wsdl:output>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserEntityByExtIdByLogin">
      <wsdl:input message="tns:getUserEntityByExtIdByLogin" name="getUserEntityByExtIdByLogin"></wsdl:input>
      <wsdl:output message="tns:getUserEntityByExtIdByLoginResponse" name="getUserEntityByExtIdByLoginResponse"></wsdl:output>
      <wsdl:fault message="tns:HeliosException" name="HeliosException"></wsdl:fault>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContactDataListSize">
      <wsdl:input message="tns:getContactDataListSize" name="getContactDataListSize"></wsdl:input>
      <wsdl:output message="tns:getContactDataListSizeResponse" name="getContactDataListSizeResponse"></wsdl:output>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContactDataByIdByLogin">
      <wsdl:input message="tns:getContactDataByIdByLogin" name="getContactDataByIdByLogin"></wsdl:input>
      <wsdl:output message="tns:getContactDataByIdByLoginResponse" name="getContactDataByIdByLoginResponse"></wsdl:output>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTeamIdList">
      <wsdl:input message="tns:getTeamIdList" name="getTeamIdList"></wsdl:input>
      <wsdl:output message="tns:getTeamIdListResponse" name="getTeamIdListResponse"></wsdl:output>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserEntityByExtId">
      <wsdl:input message="tns:getUserEntityByExtId" name="getUserEntityByExtId"></wsdl:input>
      <wsdl:output message="tns:getUserEntityByExtIdResponse" name="getUserEntityByExtIdResponse"></wsdl:output>
      <wsdl:fault message="tns:HeliosException" name="HeliosException"></wsdl:fault>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateContactDataByLogin">
      <wsdl:input message="tns:updateContactDataByLogin" name="updateContactDataByLogin"></wsdl:input>
      <wsdl:output message="tns:updateContactDataByLoginResponse" name="updateContactDataByLoginResponse"></wsdl:output>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTeamListByLogin">
      <wsdl:input message="tns:getTeamListByLogin" name="getTeamListByLogin"></wsdl:input>
      <wsdl:output message="tns:getTeamListByLoginResponse" name="getTeamListByLoginResponse"></wsdl:output>
      <wsdl:fault message="tns:WSUserAdminException" name="WSUserAdminException"></wsdl:fault>
      <wsdl:fault message="tns:SecurityException" name="SecurityException"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSUserAdmin_v3ServiceSoapBinding" type="tns:WSUserAdmin_v3">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="getUserEntityListSize">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getUserEntityListSize">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getUserEntityListSizeResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTeamListSizeByLogin">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getTeamListSizeByLogin">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getTeamListSizeByLoginResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTeamList">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getTeamList">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getTeamListResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTeamByIdByLogin">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getTeamByIdByLogin">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getTeamByIdByLoginResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getQOP">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getQOP">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getQOPResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserEntityListByLogin">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getUserEntityListByLogin">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getUserEntityListByLoginResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserEntityById">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getUserEntityById">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getUserEntityByIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="HeliosException">
        <soap:fault name="HeliosException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContactDataList">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getContactDataList">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getContactDataListResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserEntityList">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getUserEntityList">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getUserEntityListResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserEntityByLogin">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getUserEntityByLogin">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getUserEntityByLoginResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserEntityIdList">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getUserEntityIdList">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getUserEntityIdListResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAE">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getAE">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getAEResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createContactData">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="createContactData">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="createContactDataResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserEntityByIdByLogin">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getUserEntityByIdByLogin">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getUserEntityByIdByLoginResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="HeliosException">
        <soap:fault name="HeliosException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTeamListSize">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getTeamListSize">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getTeamListSizeResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateUserEntity">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="updateUserEntity">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="updateUserEntityResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAOVE">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getAOVE">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getAOVEResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateContactData">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="updateContactData">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="updateContactDataResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createContactDataByLogin">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="createContactDataByLogin">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="createContactDataByLoginResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContactDataById">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getContactDataById">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getContactDataByIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserEntityIdListByLogin">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getUserEntityIdListByLogin">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getUserEntityIdListByLoginResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContactDataListByLogin">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getContactDataListByLogin">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getContactDataListByLoginResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTeamById">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getTeamById">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getTeamByIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTeamIdListByLogin">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getTeamIdListByLogin">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getTeamIdListByLoginResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserEntityByExtIdByLogin">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getUserEntityByExtIdByLogin">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getUserEntityByExtIdByLoginResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="HeliosException">
        <soap:fault name="HeliosException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContactDataListSize">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getContactDataListSize">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getContactDataListSizeResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContactDataByIdByLogin">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getContactDataByIdByLogin">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getContactDataByIdByLoginResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTeamIdList">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getTeamIdList">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getTeamIdListResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserEntityByExtId">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getUserEntityByExtId">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getUserEntityByExtIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="HeliosException">
        <soap:fault name="HeliosException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTeamListByLogin">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getTeamListByLogin">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getTeamListByLoginResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateContactDataByLogin">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="updateContactDataByLogin">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="updateContactDataByLoginResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WSUserAdminException">
        <soap:fault name="WSUserAdminException" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="SecurityException">
        <soap:fault name="SecurityException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSUserAdmin_v3Service">
    <wsdl:port binding="tns:WSUserAdmin_v3ServiceSoapBinding" name="WSUserAdmin_v3Port">
      <soap:address location="http://ws-api.adtech.de/WSUserAdmin_v3"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>